In [1]:
import keras # imports keras and tensorflow as backend
import matplotlib.pyplot as plt # imports matplotlib
import numpy as np
import pandas as pd
%matplotlib inline
import os
import time

from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation
from keras.callbacks import TensorBoard
from keras import optimizers

Using TensorFlow backend.

In [2]:
NAME = "DeepRecommender-DR-BaselineLR-{}".format(int(time.time()))

tensorboard = TensorBoard(log_dir='./logs/{}'.format(NAME))

In [3]:
# Data Paths
DATA_DIR = './nf_data'

nf_3m_train = os.path.join(DATA_DIR, 'N3M_TRAIN', 'n3m.train.txt')
nf_3m_valid = os.path.join(DATA_DIR, 'N3M_VALID', 'n3m.valid.txt')
nf_3m_test = os.path.join(DATA_DIR, 'N3M_TEST', 'n3m.test.txt')

In [4]:
df_train = pd.read_csv(nf_3m_train, names=['CustomerID','MovieID','Rating'], sep='\t')
print(df_train.shape)
df_train.head()

(13675402, 3)

   CustomerID  MovieID  Rating
0           0     4884     4.0
1           0     5332     4.0
2           0     5633     4.0
3           0     6642     4.0
4           0     6922     4.0

In [5]:
df_train.iloc[:,1][(df_train.iloc[:,0]==0) & (df_train.iloc[:,1]<=1000)]

30    829
42    159
43    904
60     30
61    679
72    859
Name: MovieID, dtype: int64

In [6]:
df_valid = pd.read_csv(nf_3m_valid, names=['CustomerID','MovieID','Rating'], sep='\t')
print(df_valid.shape)
df_valid.head()

(1042131, 3)

   CustomerID  MovieID  Rating
0           0     1012     4.0
1           0     2977     4.0
2           0     4101     4.0
3           0    15858     4.0
4           0    16629     4.0

In [7]:
df_test = pd.read_csv(nf_3m_test, names=['CustomerID','MovieID','Rating'], sep='\t')
print(df_test.shape)
df_test.head()

(1040428, 3)

   CustomerID  MovieID  Rating
0           0     9529     5.0
1           0     3363     4.0
2           0     5837     4.0
3           0     6017     4.0
4           0    10476     4.0

In [8]:
customer_map = df_train.CustomerID.unique()
customer_map.sort()
customer_map = customer_map[0:17550]
#user_map
num_users = len(customer_map)
customer_map[-1]

22203

In [9]:
movie_map = df_train.MovieID.unique()
movie_map.sort()
movie_map = movie_map[0:1000]
#movie_map
num_movies = len(movie_map)
movie_map[-1]

1000

In [10]:
# file = open('matrix_train.csv','w')

# def temp(i):
#     return np.where(movie_map == i)[0][0]


# for id_user in customer_map:
#     id_movie = df_train.iloc[:,1][(df_train.iloc[:,0]==id_user) & (df_train.iloc[:,1]<=1000)]
#     id_movie = id_movie.apply(temp)
#     id_rating=df_train.iloc[:,2][(df_train.iloc[:,0]==id_user) & (df_train.iloc[:,1]<=1000)]
#     ratings=np.zeros(num_movies, dtype=np.uint32)
#     ratings[id_movie-1]=id_rating
#     if sum(ratings)==0:
#         continue
#     ratings=pd.DataFrame(ratings.reshape(-1, len(ratings)))
#     file.write(ratings.to_csv(index=False, header=False))
#     del id_movie
#     del id_rating
#     del ratings


# file.close()

In [11]:
X = pd.read_csv('matrix_train.csv', header=None)
print(X.shape)
X.head()

(13118, 1000)

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
X.shape[0]

13118

In [13]:
customer_map = df_valid.CustomerID.unique()
customer_map.sort()
customer_map = customer_map[:7020]
num_users = len(customer_map)
customer_map[-1]

14710

In [14]:
movie_map = df_valid.MovieID.unique()
movie_map.sort()
movie_map = movie_map[:895]
#movie_map
num_movies = len(movie_map)
movie_map[-1]

1000

In [15]:
# file = open('matrix_valid.csv','w')

# def temp(i):
#     return np.where(movie_map == i)[0][0]


# for id_user in customer_map:
#     id_movie = df_valid.iloc[:,1][(df_valid.iloc[:,0]==id_user) & (df_valid.iloc[:,1]<=1000)]
#     id_movie = id_movie.apply(temp)
#     id_rating=df_valid.iloc[:,2][(df_valid.iloc[:,0]==id_user) & (df_valid.iloc[:,1]<=1000)]
#     ratings=np.zeros(1000, dtype=np.uint32)
#     ratings[id_movie-1]=id_rating
#     if sum(ratings)==0:
#         continue
#     ratings=pd.DataFrame(ratings.reshape(-1, len(ratings)))
#     file.write(ratings.to_csv(index=False, header=False))
#     del id_movie
#     del id_rating
#     del ratings


# file.close()

In [16]:
X_valid = pd.read_csv('matrix_valid.csv', header=None)
print(X_valid.shape)
X_valid.head()

(2255, 1000)

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,5,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
X_valid.shape[0]

2255

In [18]:
customer_map = df_test.CustomerID.unique()
customer_map.sort()
customer_map = customer_map[:7020]
num_users = len(customer_map)
customer_map[-1]

14678

In [19]:
movie_map = df_test.MovieID.unique()
movie_map.sort()
movie_map = movie_map[:901]
#movie_map
num_movies = len(movie_map)
movie_map[-1]

1000

In [20]:
# file = open('matrix_test.csv','w')

# def temp(i):
#     return np.where(movie_map == i)[0][0]


# for id_user in customer_map:
#     id_movie = df_test.iloc[:,1][(df_test.iloc[:,0]==id_user) & (df_test.iloc[:,1]<=1000)]
#     id_movie = id_movie.apply(temp)
#     id_rating=df_test.iloc[:,2][(df_test.iloc[:,0]==id_user) & (df_test.iloc[:,1]<=1000)]
#     ratings=np.zeros(1000, dtype=np.uint32)
#     ratings[id_movie-1]=id_rating
#     if sum(ratings)==0:
#         continue
#     ratings=pd.DataFrame(ratings.reshape(-1, len(ratings)))
#     file.write(ratings.to_csv(index=False, header=False))
#     del id_movie
#     del id_rating
#     del ratings


# file.close()

In [21]:
X_test = pd.read_csv('matrix_test.csv', header=None)
print(X_test.shape)
X_test.head()

(2286, 1000)

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
X_test.shape[0]

2286

In [23]:
import keras.backend as K

def rmse(y_true, y_pred):
    mask_true = K.cast(K.not_equal(y_true, 0), K.floatx())
    masked_squared_error = mask_true * K.square((y_true - y_pred))
    # in case mask_true is 0 everywhere, the error would be nan, therefore divide by at least 1
    # this doesn't change anything as where sum(mask_true)==0, sum(masked_squared_error)==0 as well
    masked_mse = K.sum(masked_squared_error, axis=-1) / K.maximum(K.sum(mask_true, axis=-1), 1)
    return K.sqrt(masked_mse)

In [24]:
# Sequential Model

model = Sequential()

model.add(Dense(28, input_dim = X.shape[1], activation='selu'))
model.add(Dense(56, activation='selu'))
model.add(Dense(56, activation='selu'))
model.add(Dropout(0.65))
model.add(Dense(56, activation='selu'))
model.add(Dense(28, activation='selu'))
model.add(Dense(X.shape[1], activation='selu'))

In [25]:
sgd = optimizers.SGD(lr=0.005, momentum=0.9)
model.compile(loss=rmse, optimizer=sgd)

model.fit(X, X, batch_size=128, epochs=100, validation_data=(X_valid, X_valid), callbacks=[tensorboard])

Train on 13118 samples, validate on 2255 samples
Epoch 1/100
13118/13118 [==============================] - 1s 111us/step - loss: 2.8400 - val_loss: 3.1511
Epoch 2/100
13118/13118 [==============================] - 1s 94us/step - loss: 1.4350 - val_loss: 2.5592
Epoch 3/100
13118/13118 [==============================] - 1s 92us/step - loss: 1.1429 - val_loss: 2.2864
Epoch 4/100
13118/13118 [==============================] - 1s 87us/step - loss: 1.0558 - val_loss: 2.1261
Epoch 5/100
13118/13118 [==============================] - 1s 87us/step - loss: 1.0125 - val_loss: 2.0176
Epoch 6/100
13118/13118 [==============================] - 1s 91us/step - loss: 0.9803 - val_loss: 1.9374
Epoch 7/100
13118/13118 [==============================] - 1s 88us/step - loss: 0.9562 - val_loss: 1.8857
Epoch 8/100
13118/13118 [==============================] - 1s 89us/step - loss: 0.9241 - val_loss: 1.8201
Epoch 9/100
13118/13118 [==============================] - 1s 87us/step - loss: 0.9033 - val_loss: 1.7900
Epoch 10/100
13118/13118 [==============================] - 1s 90us/step - loss: 0.8746 - val_loss: 1.7680
Epoch 11/100
13118/13118 [==============================] - 1s 87us/step - loss: 0.8614 - val_loss: 1.7400
Epoch 12/100
13118/13118 [==============================] - 1s 89us/step - loss: 0.8474 - val_loss: 1.7219
Epoch 13/100
13118/13118 [==============================] - 1s 87us/step - loss: 0.8284 - val_loss: 1.7027
Epoch 14/100
13118/13118 [==============================] - 1s 91us/step - loss: 0.8113 - val_loss: 1.6911
Epoch 15/100
13118/13118 [==============================] - 1s 87us/step - loss: 0.7990 - val_loss: 1.6607
Epoch 16/100
13118/13118 [==============================] - 1s 88us/step - loss: 0.7934 - val_loss: 1.6464
Epoch 17/100
13118/13118 [==============================] - 1s 86us/step - loss: 0.7908 - val_loss: 1.6386
Epoch 18/100
13118/13118 [==============================] - 1s 88us/step - loss: 0.7779 - val_loss: 1.6190
Epoch 19/100
13118/13118 [==============================] - 1s 90us/step - loss: 0.7746 - val_loss: 1.6029
Epoch 20/100
13118/13118 [==============================] - 1s 87us/step - loss: 0.7730 - val_loss: 1.5970
Epoch 21/100
13118/13118 [==============================] - 1s 108us/step - loss: 0.7615 - val_loss: 1.5860
Epoch 22/100
13118/13118 [==============================] - 1s 87us/step - loss: 0.7599 - val_loss: 1.5713
Epoch 23/100
13118/13118 [==============================] - 1s 90us/step - loss: 0.7579 - val_loss: 1.5712
Epoch 24/100
13118/13118 [==============================] - 1s 86us/step - loss: 0.7554 - val_loss: 1.5492
Epoch 25/100
13118/13118 [==============================] - 1s 87us/step - loss: 0.7569 - val_loss: 1.5486
Epoch 26/100
13118/13118 [==============================] - 1s 87us/step - loss: 0.7529 - val_loss: 1.5425
Epoch 27/100
13118/13118 [==============================] - 1s 90us/step - loss: 0.7477 - val_loss: 1.5354
Epoch 28/100
13118/13118 [==============================] - 1s 86us/step - loss: 0.7459 - val_loss: 1.5282
Epoch 29/100
13118/13118 [==============================] - 1s 87us/step - loss: 0.7427 - val_loss: 1.5182
Epoch 30/100
13118/13118 [==============================] - 1s 87us/step - loss: 0.7387 - val_loss: 1.5284
Epoch 31/100
13118/13118 [==============================] - 1s 89us/step - loss: 0.7401 - val_loss: 1.5079
Epoch 32/100
13118/13118 [==============================] - 1s 86us/step - loss: 0.7399 - val_loss: 1.5071
Epoch 33/100
13118/13118 [==============================] - 1s 86us/step - loss: 0.7371 - val_loss: 1.5044
Epoch 34/100
13118/13118 [==============================] - 1s 87us/step - loss: 0.7370 - val_loss: 1.4954
Epoch 35/100
13118/13118 [==============================] - 1s 90us/step - loss: 0.7369 - val_loss: 1.4891
Epoch 36/100
13118/13118 [==============================] - 1s 87us/step - loss: 0.7332 - val_loss: 1.4890
Epoch 37/100
13118/13118 [==============================] - 1s 87us/step - loss: 0.7289 - val_loss: 1.4845
Epoch 38/100
13118/13118 [==============================] - 1s 86us/step - loss: 0.7343 - val_loss: 1.4807
Epoch 39/100
13118/13118 [==============================] - 1s 87us/step - loss: 0.7259 - val_loss: 1.4822
Epoch 40/100
13118/13118 [==============================] - 1s 93us/step - loss: 0.7243 - val_loss: 1.4701
Epoch 41/100
13118/13118 [==============================] - 1s 88us/step - loss: 0.7294 - val_loss: 1.4789
Epoch 42/100
13118/13118 [==============================] - 1s 88us/step - loss: 0.7208 - val_loss: 1.4642
Epoch 43/100
13118/13118 [==============================] - 1s 91us/step - loss: 0.7200 - val_loss: 1.4578
Epoch 44/100
13118/13118 [==============================] - 1s 88us/step - loss: 0.7210 - val_loss: 1.4578
Epoch 45/100
13118/13118 [==============================] - 1s 98us/step - loss: 0.7202 - val_loss: 1.4608
Epoch 46/100
13118/13118 [==============================] - 1s 91us/step - loss: 0.7184 - val_loss: 1.4529
Epoch 47/100
13118/13118 [==============================] - 1s 88us/step - loss: 0.7218 - val_loss: 1.4637
Epoch 48/100
13118/13118 [==============================] - 1s 90us/step - loss: 0.7192 - val_loss: 1.4538
Epoch 49/100
13118/13118 [==============================] - 1s 87us/step - loss: 0.7211 - val_loss: 1.4390
Epoch 50/100
13118/13118 [==============================] - 1s 105us/step - loss: 0.7141 - val_loss: 1.4545
Epoch 51/100
13118/13118 [==============================] - 2s 118us/step - loss: 0.7138 - val_loss: 1.4391
Epoch 52/100
13118/13118 [==============================] - 1s 113us/step - loss: 0.7118 - val_loss: 1.4385
Epoch 53/100
13118/13118 [==============================] - 1s 92us/step - loss: 0.7149 - val_loss: 1.4334
Epoch 54/100
13118/13118 [==============================] - 1s 100us/step - loss: 0.7119 - val_loss: 1.4291
Epoch 55/100
13118/13118 [==============================] - 1s 91us/step - loss: 0.7118 - val_loss: 1.4286
Epoch 56/100
13118/13118 [==============================] - 1s 109us/step - loss: 0.7099 - val_loss: 1.4242
Epoch 57/100
13118/13118 [==============================] - 1s 105us/step - loss: 0.7051 - val_loss: 1.4303
Epoch 58/100
13118/13118 [==============================] - 1s 91us/step - loss: 0.7012 - val_loss: 1.4304
Epoch 59/100
13118/13118 [==============================] - 1s 89us/step - loss: 0.7012 - val_loss: 1.4266
Epoch 60/100
13118/13118 [==============================] - 1s 87us/step - loss: 0.7044 - val_loss: 1.4258
Epoch 61/100
13118/13118 [==============================] - 1s 89us/step - loss: 0.6993 - val_loss: 1.4223
Epoch 62/100
13118/13118 [==============================] - 1s 88us/step - loss: 0.6993 - val_loss: 1.4223
Epoch 63/100
13118/13118 [==============================] - 1s 91us/step - loss: 0.6990 - val_loss: 1.4159
Epoch 64/100
13118/13118 [==============================] - 1s 88us/step - loss: 0.6972 - val_loss: 1.4164
Epoch 65/100
13118/13118 [==============================] - 1s 88us/step - loss: 0.7001 - val_loss: 1.4122
Epoch 66/100
13118/13118 [==============================] - 1s 87us/step - loss: 0.6968 - val_loss: 1.4070
Epoch 67/100
13118/13118 [==============================] - 1s 89us/step - loss: 0.6925 - val_loss: 1.4080
Epoch 68/100
13118/13118 [==============================] - 2s 120us/step - loss: 0.6931 - val_loss: 1.4148
Epoch 69/100
13118/13118 [==============================] - 1s 108us/step - loss: 0.6902 - val_loss: 1.4117
Epoch 70/100
13118/13118 [==============================] - 1s 104us/step - loss: 0.6879 - val_loss: 1.4133
Epoch 71/100
13118/13118 [==============================] - 1s 91us/step - loss: 0.6914 - val_loss: 1.4066
Epoch 72/100
13118/13118 [==============================] - 1s 104us/step - loss: 0.6868 - val_loss: 1.4148
Epoch 73/100
13118/13118 [==============================] - 1s 102us/step - loss: 0.6868 - val_loss: 1.4112
Epoch 74/100
13118/13118 [==============================] - 1s 104us/step - loss: 0.6886 - val_loss: 1.3985
Epoch 75/100
13118/13118 [==============================] - 1s 108us/step - loss: 0.6833 - val_loss: 1.4020
Epoch 76/100
13118/13118 [==============================] - 1s 88us/step - loss: 0.6813 - val_loss: 1.3970
Epoch 77/100

13118/13118 [==============================] - 1s 100us/step - loss: 0.6881 - val_loss: 1.3991
Epoch 78/100
13118/13118 [==============================] - 1s 98us/step - loss: 0.6800 - val_loss: 1.3930
Epoch 79/100
13118/13118 [==============================] - 1s 104us/step - loss: 0.6840 - val_loss: 1.3882
Epoch 80/100
13118/13118 [==============================] - 1s 99us/step - loss: 0.6773 - val_loss: 1.3957
Epoch 81/100
13118/13118 [==============================] - 1s 90us/step - loss: 0.6798 - val_loss: 1.3889
Epoch 82/100
13118/13118 [==============================] - 1s 113us/step - loss: 0.6742 - val_loss: 1.3900
Epoch 83/100
13118/13118 [==============================] - 1s 94us/step - loss: 0.6746 - val_loss: 1.3925 loss: 0.
Epoch 84/100
13118/13118 [==============================] - 1s 104us/step - loss: 0.6757 - val_loss: 1.3920
Epoch 85/100
13118/13118 [==============================] - 1s 105us/step - loss: 0.6707 - val_loss: 1.3835
Epoch 86/100
13118/13118 [==============================] - 1s 92us/step - loss: 0.6742 - val_loss: 1.3877
Epoch 87/100
13118/13118 [==============================] - 1s 88us/step - loss: 0.6708 - val_loss: 1.3721
Epoch 88/100
13118/13118 [==============================] - 1s 88us/step - loss: 0.6701 - val_loss: 1.3826
Epoch 89/100
13118/13118 [==============================] - 1s 85us/step - loss: 0.6646 - val_loss: 1.3766
Epoch 90/100
13118/13118 [==============================] - 2s 117us/step - loss: 0.6631 - val_loss: 1.3716
Epoch 91/100
13118/13118 [==============================] - 1s 102us/step - loss: 0.6678 - val_loss: 1.3737
Epoch 92/100
13118/13118 [==============================] - 1s 87us/step - loss: 0.6642 - val_loss: 1.3736
Epoch 93/100
13118/13118 [==============================] - 1s 102us/step - loss: 0.6623 - val_loss: 1.3749
Epoch 94/100
13118/13118 [==============================] - 1s 90us/step - loss: 0.6637 - val_loss: 1.3676
Epoch 95/100
13118/13118 [==============================] - 1s 88us/step - loss: 0.6628 - val_loss: 1.3700
Epoch 96/100
13118/13118 [==============================] - 1s 104us/step - loss: 0.6561 - val_loss: 1.3783
Epoch 97/100
13118/13118 [==============================] - 1s 102us/step - loss: 0.6598 - val_loss: 1.3816
Epoch 98/100
13118/13118 [==============================] - 1s 108us/step - loss: 0.6575 - val_loss: 1.3682
Epoch 99/100
13118/13118 [==============================] - 1s 102us/step - loss: 0.6549 - val_loss: 1.3677
Epoch 100/100
13118/13118 [==============================] - 1s 101us/step - loss: 0.6538 - val_loss: 1.3656

In [26]:
test_loss = model.evaluate(X_test, X_test)
test_loss

2286/2286 [==============================] - 0s 61us/step

1.468651466899448