In [1]:
import keras # imports keras and tensorflow as backend
import matplotlib.pyplot as plt # imports matplotlib
import numpy as np
import pandas as pd
%matplotlib inline
import os
import time

from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation
from keras.callbacks import TensorBoard

Using TensorFlow backend.

In [2]:
NAME = "DeepRecommender-Sequential-{}".format(int(time.time()))

tensorboard = TensorBoard(log_dir='./logs/{}'.format(NAME))

In [3]:
# Data Paths
DATA_DIR = './nf_data'

nf_3m_train = os.path.join(DATA_DIR, 'N3M_TRAIN', 'n3m.train.txt')
nf_3m_valid = os.path.join(DATA_DIR, 'N3M_VALID', 'n3m.valid.txt')
nf_3m_test = os.path.join(DATA_DIR, 'N3M_TEST', 'n3m.test.txt')

In [4]:
df_train = pd.read_csv(nf_3m_train, names=['CustomerID','MovieID','Rating'], sep='\t')
print(df_train.shape)
df_train.head()

(13675402, 3)

   CustomerID  MovieID  Rating
0           0     4884     4.0
1           0     5332     4.0
2           0     5633     4.0
3           0     6642     4.0
4           0     6922     4.0

In [5]:
df_train.iloc[:,1][(df_train.iloc[:,0]==0) & (df_train.iloc[:,1]<=1000)]

30    829
42    159
43    904
60     30
61    679
72    859
Name: MovieID, dtype: int64

In [6]:
df_valid = pd.read_csv(nf_3m_valid, names=['CustomerID','MovieID','Rating'], sep='\t')
print(df_valid.shape)
df_valid.head()

(1042131, 3)

   CustomerID  MovieID  Rating
0           0     1012     4.0
1           0     2977     4.0
2           0     4101     4.0
3           0    15858     4.0
4           0    16629     4.0

In [7]:
df_test = pd.read_csv(nf_3m_test, names=['CustomerID','MovieID','Rating'], sep='\t')
print(df_test.shape)
df_test.head()

(1040428, 3)

   CustomerID  MovieID  Rating
0           0     9529     5.0
1           0     3363     4.0
2           0     5837     4.0
3           0     6017     4.0
4           0    10476     4.0

In [8]:
customer_map = df_train.CustomerID.unique()
customer_map.sort()
customer_map = customer_map[0:17550]
#user_map
num_users = len(customer_map)
customer_map[-1]

22203

In [9]:
movie_map = df_train.MovieID.unique()
movie_map.sort()
movie_map = movie_map[0:1000]
#movie_map
num_movies = len(movie_map)
movie_map[-1]

1000

In [10]:
# file = open('matrix_train.csv','w')

# def temp(i):
#     return np.where(movie_map == i)[0][0]


# for id_user in customer_map:
#     id_movie = df_train.iloc[:,1][(df_train.iloc[:,0]==id_user) & (df_train.iloc[:,1]<=1000)]
#     id_movie = id_movie.apply(temp)
#     id_rating=df_train.iloc[:,2][(df_train.iloc[:,0]==id_user) & (df_train.iloc[:,1]<=1000)]
#     ratings=np.zeros(num_movies, dtype=np.uint32)
#     ratings[id_movie-1]=id_rating
#     if sum(ratings)==0:
#         continue
#     ratings=pd.DataFrame(ratings.reshape(-1, len(ratings)))
#     file.write(ratings.to_csv(index=False, header=False))
#     del id_movie
#     del id_rating
#     del ratings


# file.close()

In [11]:
X = pd.read_csv('matrix_train.csv', header=None)
print(X.shape)
X.head()

(13118, 1000)

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
X.shape[0]

13118

In [13]:
customer_map = df_valid.CustomerID.unique()
customer_map.sort()
customer_map = customer_map[:7020]
num_users = len(customer_map)
customer_map[-1]

14710

In [14]:
movie_map = df_valid.MovieID.unique()
movie_map.sort()
movie_map = movie_map[:895]
#movie_map
num_movies = len(movie_map)
movie_map[-1]

1000

In [15]:
# file = open('matrix_valid.csv','w')

# def temp(i):
#     return np.where(movie_map == i)[0][0]


# for id_user in customer_map:
#     id_movie = df_valid.iloc[:,1][(df_valid.iloc[:,0]==id_user) & (df_valid.iloc[:,1]<=1000)]
#     id_movie = id_movie.apply(temp)
#     id_rating=df_valid.iloc[:,2][(df_valid.iloc[:,0]==id_user) & (df_valid.iloc[:,1]<=1000)]
#     ratings=np.zeros(1000, dtype=np.uint32)
#     ratings[id_movie-1]=id_rating
#     if sum(ratings)==0:
#         continue
#     ratings=pd.DataFrame(ratings.reshape(-1, len(ratings)))
#     file.write(ratings.to_csv(index=False, header=False))
#     del id_movie
#     del id_rating
#     del ratings


# file.close()

In [16]:
X_valid = pd.read_csv('matrix_valid.csv', header=None)
print(X_valid.shape)
X_valid.head()

(2255, 1000)

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,5,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
X_valid.shape[0]

2255

In [18]:
customer_map = df_test.CustomerID.unique()
customer_map.sort()
customer_map = customer_map[:7020]
num_users = len(customer_map)
customer_map[-1]

14678

In [19]:
movie_map = df_test.MovieID.unique()
movie_map.sort()
movie_map = movie_map[:901]
#movie_map
num_movies = len(movie_map)
movie_map[-1]

1000

In [20]:
# file = open('matrix_test.csv','w')

# def temp(i):
#     return np.where(movie_map == i)[0][0]


# for id_user in customer_map:
#     id_movie = df_test.iloc[:,1][(df_test.iloc[:,0]==id_user) & (df_test.iloc[:,1]<=1000)]
#     id_movie = id_movie.apply(temp)
#     id_rating=df_test.iloc[:,2][(df_test.iloc[:,0]==id_user) & (df_test.iloc[:,1]<=1000)]
#     ratings=np.zeros(1000, dtype=np.uint32)
#     ratings[id_movie-1]=id_rating
#     if sum(ratings)==0:
#         continue
#     ratings=pd.DataFrame(ratings.reshape(-1, len(ratings)))
#     file.write(ratings.to_csv(index=False, header=False))
#     del id_movie
#     del id_rating
#     del ratings


# file.close()

In [21]:
X_test = pd.read_csv('matrix_test.csv', header=None)
print(X_test.shape)
X_test.head()

(2286, 1000)

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
X_test.shape[0]

2286

In [23]:
import keras.backend as K

def rmse(y_true, y_pred):
    mask_true = K.cast(K.not_equal(y_true, 0), K.floatx())
    masked_squared_error = mask_true * K.square((y_true - y_pred))
    # in case mask_true is 0 everywhere, the error would be nan, therefore divide by at least 1
    # this doesn't change anything as where sum(mask_true)==0, sum(masked_squared_error)==0 as well
    masked_mse = K.sum(masked_squared_error, axis=-1) / K.sum(mask_true, axis=-1)
    return K.sqrt(masked_mse)

In [24]:
# Sequential Model

model = Sequential()

model.add(Dense(28, input_dim = X.shape[1], activation='selu'))
model.add(Dense(56, activation='selu'))
model.add(Dense(56, activation='selu'))
model.add(Dropout(0.65))
model.add(Dense(56, activation='selu'))
model.add(Dense(28, activation='selu'))
model.add(Dense(X.shape[1], activation='selu'))

In [25]:
model.compile(loss=rmse, optimizer='sgd')

model.fit(X, X, batch_size=128, epochs=100, validation_data=(X_valid, X_valid), callbacks=[tensorboard])

Train on 13118 samples, validate on 2255 samples
Epoch 1/100
13118/13118 [==============================] - 1s 94us/step - loss: 3.4304 - val_loss: 3.5677
Epoch 2/100
13118/13118 [==============================] - 1s 70us/step - loss: 3.0267 - val_loss: 3.5193
Epoch 3/100
13118/13118 [==============================] - 1s 68us/step - loss: 2.6653 - val_loss: 3.4240
Epoch 4/100
13118/13118 [==============================] - 1s 68us/step - loss: 2.1271 - val_loss: 3.2808
Epoch 5/100
13118/13118 [==============================] - 1s 66us/step - loss: 1.6563 - val_loss: 3.1028
Epoch 6/100
13118/13118 [==============================] - 1s 70us/step - loss: 1.4106 - val_loss: 2.9612
Epoch 7/100
13118/13118 [==============================] - 1s 65us/step - loss: 1.2896 - val_loss: 2.8490
Epoch 8/100
13118/13118 [==============================] - 1s 64us/step - loss: 1.2149 - val_loss: 2.7493
Epoch 9/100
13118/13118 [==============================] - 1s 64us/step - loss: 1.1704 - val_loss: 2.6711
Epoch 10/100
13118/13118 [==============================] - 1s 64us/step - loss: 1.1385 - val_loss: 2.5929
Epoch 11/100
13118/13118 [==============================] - 1s 64us/step - loss: 1.1101 - val_loss: 2.5270
Epoch 12/100
13118/13118 [==============================] - 1s 63us/step - loss: 1.0823 - val_loss: 2.4612
Epoch 13/100
13118/13118 [==============================] - 1s 63us/step - loss: 1.0705 - val_loss: 2.3964
Epoch 14/100
13118/13118 [==============================] - 1s 64us/step - loss: 1.0513 - val_loss: 2.3445
Epoch 15/100
13118/13118 [==============================] - 1s 64us/step - loss: 1.0403 - val_loss: 2.2885
Epoch 16/100
13118/13118 [==============================] - 1s 64us/step - loss: 1.0355 - val_loss: 2.2456
Epoch 17/100
13118/13118 [==============================] - 1s 67us/step - loss: 1.0212 - val_loss: 2.1974
Epoch 18/100
13118/13118 [==============================] - 1s 74us/step - loss: 1.0095 - val_loss: 2.1688
Epoch 19/100
13118/13118 [==============================] - 1s 71us/step - loss: 1.0009 - val_loss: 2.1327
Epoch 20/100
13118/13118 [==============================] - 1s 73us/step - loss: 0.9942 - val_loss: 2.1011
Epoch 21/100
13118/13118 [==============================] - 1s 71us/step - loss: 0.9856 - val_loss: 2.0750
Epoch 22/100
13118/13118 [==============================] - 1s 70us/step - loss: 0.9806 - val_loss: 2.0472
Epoch 23/100
13118/13118 [==============================] - 1s 70us/step - loss: 0.9720 - val_loss: 2.0248
Epoch 24/100
13118/13118 [==============================] - 1s 68us/step - loss: 0.9669 - val_loss: 2.0062
Epoch 25/100
13118/13118 [==============================] - 1s 70us/step - loss: 0.9660 - val_loss: 1.9861
Epoch 26/100
13118/13118 [==============================] - 1s 68us/step - loss: 0.9585 - val_loss: 1.9682
Epoch 27/100
13118/13118 [==============================] - 1s 69us/step - loss: 0.9551 - val_loss: 1.9495
Epoch 28/100
13118/13118 [==============================] - 1s 69us/step - loss: 0.9532 - val_loss: 1.9372
Epoch 29/100
13118/13118 [==============================] - 1s 72us/step - loss: 0.9428 - val_loss: 1.9220
Epoch 30/100
13118/13118 [==============================] - 1s 73us/step - loss: 0.9405 - val_loss: 1.9134
Epoch 31/100
13118/13118 [==============================] - 1s 70us/step - loss: 0.9369 - val_loss: 1.8999
Epoch 32/100
13118/13118 [==============================] - 1s 71us/step - loss: 0.9321 - val_loss: 1.8884
Epoch 33/100
13118/13118 [==============================] - 1s 69us/step - loss: 0.9322 - val_loss: 1.8782
Epoch 34/100
13118/13118 [==============================] - 1s 73us/step - loss: 0.9255 - val_loss: 1.8663
Epoch 35/100
13118/13118 [==============================] - 1s 75us/step - loss: 0.9265 - val_loss: 1.8617
Epoch 36/100
13118/13118 [==============================] - 1s 73us/step - loss: 0.9224 - val_loss: 1.8550
Epoch 37/100
13118/13118 [==============================] - 1s 75us/step - loss: 0.9186 - val_loss: 1.8494
Epoch 38/100
13118/13118 [==============================] - 1s 73us/step - loss: 0.9112 - val_loss: 1.8425
Epoch 39/100
13118/13118 [==============================] - 1s 74us/step - loss: 0.9131 - val_loss: 1.8385
Epoch 40/100
13118/13118 [==============================] - 1s 73us/step - loss: 0.9111 - val_loss: 1.8328
Epoch 41/100
13118/13118 [==============================] - 1s 74us/step - loss: 0.9078 - val_loss: 1.8245
Epoch 42/100
13118/13118 [==============================] - 1s 74us/step - loss: 0.9046 - val_loss: 1.8158
Epoch 43/100
13118/13118 [==============================] - 1s 73us/step - loss: 0.8975 - val_loss: 1.8113
Epoch 44/100
13118/13118 [==============================] - 1s 74us/step - loss: 0.8965 - val_loss: 1.7998
Epoch 45/100
13118/13118 [==============================] - 1s 70us/step - loss: 0.8905 - val_loss: 1.7985
Epoch 46/100
13118/13118 [==============================] - 1s 72us/step - loss: 0.8891 - val_loss: 1.7948
Epoch 47/100
13118/13118 [==============================] - 1s 71us/step - loss: 0.8874 - val_loss: 1.7847
Epoch 48/100
13118/13118 [==============================] - 1s 72us/step - loss: 0.8843 - val_loss: 1.7782
Epoch 49/100
13118/13118 [==============================] - 1s 71us/step - loss: 0.8770 - val_loss: 1.7742
Epoch 50/100
13118/13118 [==============================] - 1s 70us/step - loss: 0.8727 - val_loss: 1.7697
Epoch 51/100
13118/13118 [==============================] - 1s 67us/step - loss: 0.8644 - val_loss: 1.7633
Epoch 52/100
13118/13118 [==============================] - 1s 68us/step - loss: 0.8594 - val_loss: 1.7590
Epoch 53/100
13118/13118 [==============================] - 1s 67us/step - loss: 0.8530 - val_loss: 1.7547
Epoch 54/100
13118/13118 [==============================] - 1s 66us/step - loss: 0.8482 - val_loss: 1.7495
Epoch 55/100
13118/13118 [==============================] - 1s 67us/step - loss: 0.8492 - val_loss: 1.7463
Epoch 56/100
13118/13118 [==============================] - 1s 66us/step - loss: 0.8436 - val_loss: 1.7423
Epoch 57/100
13118/13118 [==============================] - 1s 65us/step - loss: 0.8458 - val_loss: 1.7411
Epoch 58/100
13118/13118 [==============================] - 1s 68us/step - loss: 0.8422 - val_loss: 1.7399
Epoch 59/100
13118/13118 [==============================] - 1s 67us/step - loss: 0.8330 - val_loss: 1.7316
Epoch 60/100
13118/13118 [==============================] - 1s 66us/step - loss: 0.8340 - val_loss: 1.7296
Epoch 61/100
13118/13118 [==============================] - 1s 65us/step - loss: 0.8298 - val_loss: 1.7284
Epoch 62/100
13118/13118 [==============================] - 1s 66us/step - loss: 0.8299 - val_loss: 1.7203
Epoch 63/100
13118/13118 [==============================] - 1s 66us/step - loss: 0.8283 - val_loss: 1.7185
Epoch 64/100
13118/13118 [==============================] - 1s 65us/step - loss: 0.8295 - val_loss: 1.7199
Epoch 65/100
13118/13118 [==============================] - 1s 67us/step - loss: 0.8285 - val_loss: 1.7133
Epoch 66/100
13118/13118 [==============================] - 1s 69us/step - loss: 0.8299 - val_loss: 1.7111
Epoch 67/100
13118/13118 [==============================] - 1s 67us/step - loss: 0.8237 - val_loss: 1.7067
Epoch 68/100
13118/13118 [==============================] - 1s 68us/step - loss: 0.8179 - val_loss: 1.7028
Epoch 69/100
13118/13118 [==============================] - 1s 69us/step - loss: 0.8217 - val_loss: 1.6997
Epoch 70/100
13118/13118 [==============================] - 1s 70us/step - loss: 0.8164 - val_loss: 1.6960
Epoch 71/100
13118/13118 [==============================] - 1s 70us/step - loss: 0.8148 - val_loss: 1.6944
Epoch 72/100
13118/13118 [==============================] - 1s 70us/step - loss: 0.8177 - val_loss: 1.6935
Epoch 73/100
13118/13118 [==============================] - 1s 69us/step - loss: 0.8156 - val_loss: 1.6879
Epoch 74/100
13118/13118 [==============================] - 1s 67us/step - loss: 0.8104 - val_loss: 1.6891
Epoch 75/100
13118/13118 [==============================] - 1s 68us/step - loss: 0.8129 - val_loss: 1.6885
Epoch 76/100
13118/13118 [==============================] - 1s 68us/step - loss: 0.8086 - val_loss: 1.6839
Epoch 77/100

13118/13118 [==============================] - 1s 68us/step - loss: 0.8093 - val_loss: 1.6828
Epoch 78/100
13118/13118 [==============================] - 1s 67us/step - loss: 0.8032 - val_loss: 1.6812
Epoch 79/100
13118/13118 [==============================] - 1s 69us/step - loss: 0.8019 - val_loss: 1.6831
Epoch 80/100
13118/13118 [==============================] - 1s 68us/step - loss: 0.8040 - val_loss: 1.6805
Epoch 81/100
13118/13118 [==============================] - 1s 66us/step - loss: 0.8050 - val_loss: 1.6712
Epoch 82/100
13118/13118 [==============================] - 1s 67us/step - loss: 0.8021 - val_loss: 1.6701
Epoch 83/100
13118/13118 [==============================] - 1s 69us/step - loss: 0.8043 - val_loss: 1.6716
Epoch 84/100
13118/13118 [==============================] - 1s 70us/step - loss: 0.7986 - val_loss: 1.6678
Epoch 85/100
13118/13118 [==============================] - 1s 67us/step - loss: 0.7969 - val_loss: 1.6663
Epoch 86/100
13118/13118 [==============================] - 1s 68us/step - loss: 0.7989 - val_loss: 1.6632
Epoch 87/100
13118/13118 [==============================] - 1s 68us/step - loss: 0.7999 - val_loss: 1.6644
Epoch 88/100
13118/13118 [==============================] - 1s 69us/step - loss: 0.7942 - val_loss: 1.6603
Epoch 89/100
13118/13118 [==============================] - 1s 68us/step - loss: 0.7939 - val_loss: 1.6585
Epoch 90/100
13118/13118 [==============================] - 1s 69us/step - loss: 0.7917 - val_loss: 1.6577
Epoch 91/100
13118/13118 [==============================] - 1s 69us/step - loss: 0.7878 - val_loss: 1.6535
Epoch 92/100
13118/13118 [==============================] - 1s 67us/step - loss: 0.7939 - val_loss: 1.6529
Epoch 93/100
13118/13118 [==============================] - 1s 70us/step - loss: 0.7900 - val_loss: 1.6482
Epoch 94/100
13118/13118 [==============================] - 1s 68us/step - loss: 0.7882 - val_loss: 1.6464
Epoch 95/100
13118/13118 [==============================] - 1s 68us/step - loss: 0.7891 - val_loss: 1.6448
Epoch 96/100
13118/13118 [==============================] - 1s 68us/step - loss: 0.7855 - val_loss: 1.6472
Epoch 97/100
13118/13118 [==============================] - 1s 69us/step - loss: 0.7872 - val_loss: 1.6409
Epoch 98/100
13118/13118 [==============================] - 1s 68us/step - loss: 0.7817 - val_loss: 1.6401
Epoch 99/100
13118/13118 [==============================] - 1s 69us/step - loss: 0.7823 - val_loss: 1.6344
Epoch 100/100
13118/13118 [==============================] - 1s 68us/step - loss: 0.7857 - val_loss: 1.6349

In [26]:
test_loss = model.evaluate(X_test, X_test)
test_loss

2286/2286 [==============================] - 0s 50us/step

1.6149727233334372