In [1]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.DataFrame([[0 for x in range(17736)] for x in range(311316)])

In [ ]:
df.shape()

In [6]:
df = [2,2,3,7,9]

In [7]:
df = pd.DataFrame(df)

In [8]:
df

   0
0  2
1  2
2  3
3  7
4  9

In [24]:
df[0] == [3,7]

TypeError: invalid type comparison

In [23]:
df.index[df[0] == [3,7]].tolist()

TypeError: invalid type comparison

In [32]:
df = [1,2,3,4,5]
df = np.array(df)
df = pd.DataFrame(df.reshape(-1, len(df)))

In [33]:
df

   0  1  2  3  4
0  1  2  3  4  5

In [40]:
df.to_csv(index=False, header=False)

'1,2,3,4,5\n'

In [63]:
import keras.backend as K
import numpy as np
val = np.random.random((3, 4))
var = K.variable(value=val)

# all-zeros variable:
# var = K.zeros(shape=(3, 4))
# all-ones:
# var = K.ones(shape=(3, 4))

def mmse(y_true, y_pred):
    m = 0
    if y_true != 0:
        m = 1
    return 

K.sum(val, axis=0)
K.eval(K.cast(K.not_equal(1, 0), K.floatx()))

1.0

In [65]:
import keras.backend as K

def mmse(y_true, y_pred):
    mask_true = K.cast(K.not_equal(y_true, 0), K.floatx())
    masked_squared_error = mask_true * K.square((y_true - y_pred))
    # in case mask_true is 0 everywhere, the error would be nan, therefore divide by at least 1
    # this doesn't change anything as where sum(mask_true)==0, sum(masked_squared_error)==0 as well
    masked_mse = K.sum(masked_squared_error, axis=-1) / K.maximum(K.sum(mask_true, axis=-1), 1)
    return masked_mse