## Load required libraries

In [1]:
import keras # imports keras and tensorflow as backend

import numpy as np
import pandas as pd

import os
import time

from keras.models import Model, Sequential
from keras.layers import Input, Dense, Dropout, Activation
from keras.callbacks import TensorBoard
import keras.backend as K
from keras import optimizers

# from keras.utils import plot_model

Using TensorFlow backend.

## Save tensorboard logs with different runs.
### Run everytime when running model.

In [2]:
NAME = "DeepRecommender-Functional-{}".format(int(time.time()))

tensorboard = TensorBoard(log_dir='./logs/{}'.format(NAME))

## Set Data Paths

In [3]:
DATA_DIR = './nf_data'

nf_3m_train = os.path.join(DATA_DIR, 'N3M_TRAIN', 'n3m.train.txt')
nf_3m_valid = os.path.join(DATA_DIR, 'N3M_VALID', 'n3m.valid.txt')
nf_3m_test = os.path.join(DATA_DIR, 'N3M_TEST', 'n3m.test.txt')

## Load Data

In [4]:
df_train = pd.read_csv(nf_3m_train, names=['CustomerID','MovieID','Rating'], sep='\t')
print(df_train.shape)
df_train.head()

(13675402, 3)

   CustomerID  MovieID  Rating
0           0     4884     4.0
1           0     5332     4.0
2           0     5633     4.0
3           0     6642     4.0
4           0     6922     4.0

In [5]:
df_valid = pd.read_csv(nf_3m_valid, names=['CustomerID','MovieID','Rating'], sep='\t')
print(df_valid.shape)
df_valid.head()

(1042131, 3)

   CustomerID  MovieID  Rating
0           0     1012     4.0
1           0     2977     4.0
2           0     4101     4.0
3           0    15858     4.0
4           0    16629     4.0

In [6]:
df_test = pd.read_csv(nf_3m_test, names=['CustomerID','MovieID','Rating'], sep='\t')
print(df_test.shape)
df_test.head()

(1040428, 3)

   CustomerID  MovieID  Rating
0           0     9529     5.0
1           0     3363     4.0
2           0     5837     4.0
3           0     6017     4.0
4           0    10476     4.0

## Build Customer and Movie Maps (train)

In [7]:
customer_map = df_train.CustomerID.unique()
customer_map.sort()
customer_map = customer_map[0:17550]
#user_map
num_users = len(customer_map)
customer_map[-1]

22203

In [8]:
movie_map = df_train.MovieID.unique()
movie_map.sort()
movie_map = movie_map[0:1000]
#movie_map
num_movies = len(movie_map)
movie_map[-1]

1000

## Preprocess Data to create User-Movie Matrix (train)
### Uncomment to see how data is preprocessed.

In [9]:
# file = open('matrix_train.csv','w')

# def temp(i):
#     return np.where(movie_map == i)[0][0]


# for id_user in customer_map:
#     id_movie = df_train.iloc[:,1][(df_train.iloc[:,0]==id_user) & (df_train.iloc[:,1]<=1000)]
#     id_movie = id_movie.apply(temp)
#     id_rating=df_train.iloc[:,2][(df_train.iloc[:,0]==id_user) & (df_train.iloc[:,1]<=1000)]
#     ratings=np.zeros(num_movies, dtype=np.uint32)
#     ratings[id_movie-1]=id_rating
#     if sum(ratings)==0:
#         continue
#     ratings=pd.DataFrame(ratings.reshape(-1, len(ratings)))
#     file.write(ratings.to_csv(index=False, header=False))
#     del id_movie
#     del id_rating
#     del ratings


# file.close()

In [10]:
X = pd.read_csv('matrix_train.csv', header=None)
print(X.shape)
X.head()

(13118, 1000)

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
X.shape

(13118, 1000)

## Build Customer and Movie Maps (validation)

In [12]:
customer_map = df_valid.CustomerID.unique()
customer_map.sort()
customer_map = customer_map[:7020]
num_users = len(customer_map)
customer_map[-1]

14710

In [13]:
movie_map = df_valid.MovieID.unique()
movie_map.sort()
movie_map = movie_map[:895]
#movie_map
num_movies = len(movie_map)
movie_map[-1]

1000

## Preprocess Data to create User-Movie Matrix (validation)
### Uncomment to see how data is preprocessed.

In [14]:
# file = open('matrix_valid.csv','w')

# def temp(i):
#     return np.where(movie_map == i)[0][0]


# for id_user in customer_map:
#     id_movie = df_valid.iloc[:,1][(df_valid.iloc[:,0]==id_user) & (df_valid.iloc[:,1]<=1000)]
#     id_movie = id_movie.apply(temp)
#     id_rating=df_valid.iloc[:,2][(df_valid.iloc[:,0]==id_user) & (df_valid.iloc[:,1]<=1000)]
#     ratings=np.zeros(1000, dtype=np.uint32)
#     ratings[id_movie-1]=id_rating
#     if sum(ratings)==0:
#         continue
#     ratings=pd.DataFrame(ratings.reshape(-1, len(ratings)))
#     file.write(ratings.to_csv(index=False, header=False))
#     del id_movie
#     del id_rating
#     del ratings


# file.close()

In [15]:
X_valid = pd.read_csv('matrix_valid.csv', header=None)
print(X_valid.shape)
X_valid.head()

(2255, 1000)

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,5,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
X_valid.shape[0]

2255

## Build Customer and Movie Maps (test)

In [17]:
customer_map = df_test.CustomerID.unique()
customer_map.sort()
customer_map = customer_map[:7020]
num_users = len(customer_map)
customer_map[-1]

14678

In [18]:
movie_map = df_test.MovieID.unique()
movie_map.sort()
movie_map = movie_map[:901]
#movie_map
num_movies = len(movie_map)
movie_map[-1]

1000

## Preprocess Data to create User-Movie Matrix (test)
### Uncomment to see how data is preprocessed.

In [19]:
# file = open('matrix_test.csv','w')

# def temp(i):
#     return np.where(movie_map == i)[0][0]


# for id_user in customer_map:
#     id_movie = df_test.iloc[:,1][(df_test.iloc[:,0]==id_user) & (df_test.iloc[:,1]<=1000)]
#     id_movie = id_movie.apply(temp)
#     id_rating=df_test.iloc[:,2][(df_test.iloc[:,0]==id_user) & (df_test.iloc[:,1]<=1000)]
#     ratings=np.zeros(1000, dtype=np.uint32)
#     ratings[id_movie-1]=id_rating
#     if sum(ratings)==0:
#         continue
#     ratings=pd.DataFrame(ratings.reshape(-1, len(ratings)))
#     file.write(ratings.to_csv(index=False, header=False))
#     del id_movie
#     del id_rating
#     del ratings


# file.close()

In [20]:
X_test = pd.read_csv('matrix_test.csv', header=None)
print(X_test.shape)
X_test.head()

(2286, 1000)

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
X_test.shape[0]

2286

## Create Custom Loss RMSE

In [22]:
def rmse(y_true, y_pred):
    mask_true = K.cast(K.not_equal(y_true, 0), K.floatx())
    masked_squared_error = mask_true * K.square((y_true - y_pred))
    masked_mse = K.sum(masked_squared_error, axis=-1) / K.sum(mask_true, axis=-1)
    return K.sqrt(masked_mse)

## Create the Model

In [23]:
# Functional Model

encoder1 = Dense(28, activation='selu', kernel_initializer='glorot_uniform')
encoder2 = Dense(56, activation='selu', kernel_initializer='glorot_uniform')
code = Dense(56, activation='selu', kernel_initializer='glorot_uniform')
dropout = Dropout(0.65)
decoder1 = Dense(56, activation='selu', kernel_initializer='glorot_uniform')
decoder2 = Dense(28, activation='selu', kernel_initializer='glorot_uniform')
out = Dense(X.shape[1], activation='selu', kernel_initializer='glorot_uniform')


input = Input(shape=(1000,))

encoded1 = encoder1(input)
encoded2 = encoder2(encoded1)
coded = code(encoded2)
dropped = dropout(coded)
decoded1 = decoder1(dropped)
decoded2 = decoder2(decoded1)
temp_output = out(decoded2)

re_encoded1 = encoder1(temp_output)
re_encoded2 = encoder2(re_encoded1)
re_coded = code(re_encoded2)
re_dropped = dropout(re_coded)
re_decoded1 = decoder1(re_dropped)
re_decoded2 = decoder2(re_decoded1)
output = out(re_decoded2)

model = Model(inputs=input, outputs=output)
print(model.summary())
# plot_model(model, to_file='model.png')

__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_1 (InputLayer)            (None, 1000)         0
__________________________________________________________________________________________________
dense_1 (Dense)                 (None, 28)           28028       input_1[0][0]
                                                                 dense_6[0][0]
__________________________________________________________________________________________________
dense_2 (Dense)                 (None, 56)           1624        dense_1[0][0]
                                                                 dense_1[1][0]
__________________________________________________________________________________________________
dense_3 (Dense)                 (None, 56)           3192        dense_2[0][0]
                                                                 dense_2[1][0]
__________________________________________________________________________________________________
dropout_1 (Dropout)             (None, 56)           0           dense_3[0][0]
                                                                 dense_3[1][0]
__________________________________________________________________________________________________
dense_4 (Dense)                 (None, 56)           3192        dropout_1[0][0]
                                                                 dropout_1[1][0]
__________________________________________________________________________________________________
dense_5 (Dense)                 (None, 28)           1596        dense_4[0][0]
                                                                 dense_4[1][0]
__________________________________________________________________________________________________
dense_6 (Dense)                 (None, 1000)         29000       dense_5[0][0]
                                                                 dense_5[1][0]
==================================================================================================
Total params: 66,632
Trainable params: 66,632
Non-trainable params: 0
__________________________________________________________________________________________________
None

## Train the Model on the dataset

In [24]:
sgd = optimizers.SGD(lr=0.005, momentum=0.9)
model.compile(loss=rmse, optimizer=sgd)

model.fit(X, X, batch_size=128, epochs=100, validation_data=(X_valid, X_valid), callbacks=[tensorboard])

Train on 13118 samples, validate on 2255 samples
Epoch 1/100
13118/13118 [==============================] - 3s 258us/step - loss: 3.4682 - val_loss: 3.4825
Epoch 2/100
13118/13118 [==============================] - 3s 239us/step - loss: 2.9718 - val_loss: 3.3470
Epoch 3/100
13118/13118 [==============================] - 3s 200us/step - loss: 2.3671 - val_loss: 3.1541
Epoch 4/100
13118/13118 [==============================] - 2s 168us/step - loss: 1.7764 - val_loss: 2.9403
Epoch 5/100
13118/13118 [==============================] - 2s 191us/step - loss: 1.4509 - val_loss: 2.7674
Epoch 6/100
13118/13118 [==============================] - 2s 180us/step - loss: 1.3061 - val_loss: 2.6425
Epoch 7/100
13118/13118 [==============================] - 2s 155us/step - loss: 1.2342 - val_loss: 2.5475
Epoch 8/100
13118/13118 [==============================] - 3s 205us/step - loss: 1.1820 - val_loss: 2.4602
Epoch 9/100
13118/13118 [==============================] - 3s 195us/step - loss: 1.1510 - val_loss: 2.3944
Epoch 10/100
13118/13118 [==============================] - 2s 150us/step - loss: 1.1197 - val_loss: 2.3340
Epoch 11/100
13118/13118 [==============================] - 2s 157us/step - loss: 1.1049 - val_loss: 2.2858
Epoch 12/100
13118/13118 [==============================] - 2s 162us/step - loss: 1.0842 - val_loss: 2.2307
Epoch 13/100
13118/13118 [==============================] - 2s 168us/step - loss: 1.0645 - val_loss: 2.1875
Epoch 14/100
13118/13118 [==============================] - 2s 134us/step - loss: 1.0522 - val_loss: 2.1346
Epoch 15/100
13118/13118 [==============================] - 2s 128us/step - loss: 1.0355 - val_loss: 2.0964
Epoch 16/100
13118/13118 [==============================] - 2s 150us/step - loss: 1.0236 - val_loss: 2.0669
Epoch 17/100
13118/13118 [==============================] - 2s 142us/step - loss: 1.0165 - val_loss: 2.0376
Epoch 18/100
13118/13118 [==============================] - 2s 153us/step - loss: 1.0028 - val_loss: 2.0069
Epoch 19/100
13118/13118 [==============================] - 2s 162us/step - loss: 0.9957 - val_loss: 1.9815
Epoch 20/100
13118/13118 [==============================] - 2s 135us/step - loss: 0.9938 - val_loss: 1.9506
Epoch 21/100
13118/13118 [==============================] - 2s 139us/step - loss: 0.9809 - val_loss: 1.9301
Epoch 22/100
13118/13118 [==============================] - 2s 140us/step - loss: 0.9746 - val_loss: 1.9077
Epoch 23/100
13118/13118 [==============================] - 2s 126us/step - loss: 0.9677 - val_loss: 1.8916
Epoch 24/100
13118/13118 [==============================] - 2s 138us/step - loss: 0.9634 - val_loss: 1.8690
Epoch 25/100
13118/13118 [==============================] - 2s 155us/step - loss: 0.9636 - val_loss: 1.8569
Epoch 26/100
13118/13118 [==============================] - 2s 132us/step - loss: 0.9535 - val_loss: 1.8436
Epoch 27/100
13118/13118 [==============================] - 2s 130us/step - loss: 0.9521 - val_loss: 1.8227
Epoch 28/100
13118/13118 [==============================] - 2s 153us/step - loss: 0.9454 - val_loss: 1.8234
Epoch 29/100
13118/13118 [==============================] - 2s 133us/step - loss: 0.9406 - val_loss: 1.8036
Epoch 30/100
13118/13118 [==============================] - 2s 136us/step - loss: 0.9325 - val_loss: 1.7966
Epoch 31/100
13118/13118 [==============================] - 2s 143us/step - loss: 0.9286 - val_loss: 1.7829
Epoch 32/100
13118/13118 [==============================] - 2s 131us/step - loss: 0.9300 - val_loss: 1.7741
Epoch 33/100
13118/13118 [==============================] - 2s 140us/step - loss: 0.9222 - val_loss: 1.7712
Epoch 34/100
13118/13118 [==============================] - 2s 143us/step - loss: 0.9313 - val_loss: 1.7674
Epoch 35/100
13118/13118 [==============================] - 2s 136us/step - loss: 0.9204 - val_loss: 1.7542
Epoch 36/100
13118/13118 [==============================] - 2s 141us/step - loss: 0.9171 - val_loss: 1.7446
Epoch 37/100
13118/13118 [==============================] - 2s 138us/step - loss: 0.9108 - val_loss: 1.7434
Epoch 38/100
13118/13118 [==============================] - 2s 145us/step - loss: 0.9129 - val_loss: 1.7324
Epoch 39/100
13118/13118 [==============================] - 2s 137us/step - loss: 0.9110 - val_loss: 1.7252
Epoch 40/100
13118/13118 [==============================] - 2s 138us/step - loss: 0.9068 - val_loss: 1.7231
Epoch 41/100
13118/13118 [==============================] - 2s 146us/step - loss: 0.9060 - val_loss: 1.7145
Epoch 42/100
13118/13118 [==============================] - 2s 132us/step - loss: 0.8996 - val_loss: 1.7109
Epoch 43/100
13118/13118 [==============================] - 2s 123us/step - loss: 0.8946 - val_loss: 1.7043
Epoch 44/100
13118/13118 [==============================] - 2s 124us/step - loss: 0.8964 - val_loss: 1.6995
Epoch 45/100
13118/13118 [==============================] - 2s 126us/step - loss: 0.8883 - val_loss: 1.6916
Epoch 46/100
13118/13118 [==============================] - 2s 131us/step - loss: 0.8879 - val_loss: 1.6853
Epoch 47/100
13118/13118 [==============================] - 2s 141us/step - loss: 0.8844 - val_loss: 1.6773
Epoch 48/100
13118/13118 [==============================] - 2s 152us/step - loss: 0.8862 - val_loss: 1.6749
Epoch 49/100
13118/13118 [==============================] - 2s 147us/step - loss: 0.8831 - val_loss: 1.6755
Epoch 50/100
13118/13118 [==============================] - 2s 130us/step - loss: 0.8785 - val_loss: 1.6658
Epoch 51/100
13118/13118 [==============================] - 2s 140us/step - loss: 0.8764 - val_loss: 1.6577
Epoch 52/100
13118/13118 [==============================] - 2s 143us/step - loss: 0.8783 - val_loss: 1.6553
Epoch 53/100
13118/13118 [==============================] - 2s 146us/step - loss: 0.8714 - val_loss: 1.6601
Epoch 54/100
13118/13118 [==============================] - 2s 137us/step - loss: 0.8716 - val_loss: 1.6482
Epoch 55/100
13118/13118 [==============================] - 2s 130us/step - loss: 0.8726 - val_loss: 1.6425
Epoch 56/100
13118/13118 [==============================] - 2s 140us/step - loss: 0.8704 - val_loss: 1.6424
Epoch 57/100
13118/13118 [==============================] - 2s 132us/step - loss: 0.8688 - val_loss: 1.6409
Epoch 58/100
13118/13118 [==============================] - 2s 132us/step - loss: 0.8694 - val_loss: 1.6391
Epoch 59/100
13118/13118 [==============================] - 2s 152us/step - loss: 0.8623 - val_loss: 1.6379
Epoch 60/100
13118/13118 [==============================] - 2s 133us/step - loss: 0.8611 - val_loss: 1.6364
Epoch 61/100
13118/13118 [==============================] - 2s 165us/step - loss: 0.8605 - val_loss: 1.6256
Epoch 62/100
13118/13118 [==============================] - 2s 145us/step - loss: 0.8579 - val_loss: 1.6275
Epoch 63/100
13118/13118 [==============================] - 2s 148us/step - loss: 0.8599 - val_loss: 1.6173
Epoch 64/100
13118/13118 [==============================] - 2s 149us/step - loss: 0.8554 - val_loss: 1.6149
Epoch 65/100
13118/13118 [==============================] - 2s 163us/step - loss: 0.8536 - val_loss: 1.6187
Epoch 66/100
13118/13118 [==============================] - 2s 144us/step - loss: 0.8513 - val_loss: 1.6162
Epoch 67/100
13118/13118 [==============================] - 2s 141us/step - loss: 0.8508 - val_loss: 1.6114
Epoch 68/100
13118/13118 [==============================] - 2s 148us/step - loss: 0.8479 - val_loss: 1.6096
Epoch 69/100
13118/13118 [==============================] - 2s 143us/step - loss: 0.8464 - val_loss: 1.6038
Epoch 70/100
13118/13118 [==============================] - 2s 151us/step - loss: 0.8423 - val_loss: 1.6084
Epoch 71/100
13118/13118 [==============================] - 2s 150us/step - loss: 0.8402 - val_loss: 1.6050
Epoch 72/100
13118/13118 [==============================] - 2s 131us/step - loss: 0.8374 - val_loss: 1.6015
Epoch 73/100
13118/13118 [==============================] - 2s 130us/step - loss: 0.8366 - val_loss: 1.5983
Epoch 74/100
13118/13118 [==============================] - 2s 128us/step - loss: 0.8321 - val_loss: 1.6088
Epoch 75/100
13118/13118 [==============================] - 2s 129us/step - loss: 0.8248 - val_loss: 1.5981
Epoch 76/100
13118/13118 [==============================] - 2s 132us/step - loss: 0.8220 - val_loss: 1.5900
Epoch 77/100
13118/13118 [==============================] - 2s 141us/step - loss: 0.8191 - val_loss: 1.5876
Epoch 78/100
13118/13118 [==============================] - 2s 139us/step - loss: 0.8144 - val_loss: 1.5863
Epoch 79/100
13118/13118 [==============================] - 2s 147us/step - loss: 0.8105 - val_loss: 1.5799
Epoch 80/100
13118/13118 [==============================] - 2s 154us/step - loss: 0.8104 - val_loss: 1.5775
Epoch 81/100
13118/13118 [==============================] - 2s 136us/step - loss: 0.8104 - val_loss: 1.5726
Epoch 82/100
13118/13118 [==============================] - 2s 141us/step - loss: 0.8075 - val_loss: 1.5723
Epoch 83/100
13118/13118 [==============================] - 2s 137us/step - loss: 0.8017 - val_loss: 1.5703
Epoch 84/100
13118/13118 [==============================] - 2s 149us/step - loss: 0.7997 - val_loss: 1.5607
Epoch 85/100
13118/13118 [==============================] - 2s 143us/step - loss: 0.8020 - val_loss: 1.5578
Epoch 86/100
13118/13118 [==============================] - 2s 140us/step - loss: 0.8005 - val_loss: 1.5518
Epoch 87/100
13118/13118 [==============================] - 2s 141us/step - loss: 0.7958 - val_loss: 1.5488
Epoch 88/100
13118/13118 [==============================] - 2s 140us/step - loss: 0.7958 - val_loss: 1.5480
Epoch 89/100
13118/13118 [==============================] - 2s 139us/step - loss: 0.7950 - val_loss: 1.5423
Epoch 90/100
13118/13118 [==============================] - 2s 138us/step - loss: 0.7926 - val_loss: 1.5423
Epoch 91/100
13118/13118 [==============================] - 2s 149us/step - loss: 0.7906 - val_loss: 1.5359
Epoch 92/100
13118/13118 [==============================] - 2s 139us/step - loss: 0.7906 - val_loss: 1.5380
Epoch 93/100
13118/13118 [==============================] - 2s 138us/step - loss: 0.7896 - val_loss: 1.5312
Epoch 94/100
13118/13118 [==============================] - 2s 144us/step - loss: 0.7888 - val_loss: 1.5262
Epoch 95/100
13118/13118 [==============================] - 2s 140us/step - loss: 0.7861 - val_loss: 1.5266
Epoch 96/100
13118/13118 [==============================] - 2s 142us/step - loss: 0.7861 - val_loss: 1.5261
Epoch 97/100
13118/13118 [==============================] - 2s 147us/step - loss: 0.7856 - val_loss: 1.5268
Epoch 98/100
13118/13118 [==============================] - 2s 138us/step - loss: 0.7840 - val_loss: 1.5176
Epoch 99/100
13118/13118 [==============================] - 2s 134us/step - loss: 0.7850 - val_loss: 1.5154
Epoch 100/100
13118/13118 [==============================] - 2s 140us/step - loss: 0.7820 - val_loss: 1.5082

## Test the model on the test set

In [25]:
test_loss = model.evaluate(X_test, X_test)
test_loss

2286/2286 [==============================] - 0s 74us/step

1.6073932354635871