In [1]:
import keras # imports keras and tensorflow as backend

import numpy as np
import pandas as pd

import os
import time

from keras.models import Model, Sequential
from keras.layers import Input, Dense, Dropout, Activation
from keras.callbacks import TensorBoard
# from keras.utils import plot_model

Using TensorFlow backend.

In [2]:
NAME = "DeepRecommender-Functional-{}".format(int(time.time()))

tensorboard = TensorBoard(log_dir='./logs/{}'.format(NAME))

In [3]:
# Data Paths
DATA_DIR = './nf_data'

nf_3m_train = os.path.join(DATA_DIR, 'N3M_TRAIN', 'n3m.train.txt')
nf_3m_valid = os.path.join(DATA_DIR, 'N3M_VALID', 'n3m.valid.txt')
nf_3m_test = os.path.join(DATA_DIR, 'N3M_TEST', 'n3m.test.txt')

In [4]:
df_train = pd.read_csv(nf_3m_train, names=['CustomerID','MovieID','Rating'], sep='\t')
print(df_train.shape)
df_train.head()

(13675402, 3)

   CustomerID  MovieID  Rating
0           0     4884     4.0
1           0     5332     4.0
2           0     5633     4.0
3           0     6642     4.0
4           0     6922     4.0

In [5]:
df_train.iloc[:,1][(df_train.iloc[:,0]==0) & (df_train.iloc[:,1]<=1000)]

30    829
42    159
43    904
60     30
61    679
72    859
Name: MovieID, dtype: int64

In [6]:
df_valid = pd.read_csv(nf_3m_valid, names=['CustomerID','MovieID','Rating'], sep='\t')
print(df_valid.shape)
df_valid.head()

(1042131, 3)

   CustomerID  MovieID  Rating
0           0     1012     4.0
1           0     2977     4.0
2           0     4101     4.0
3           0    15858     4.0
4           0    16629     4.0

In [7]:
df_test = pd.read_csv(nf_3m_test, names=['CustomerID','MovieID','Rating'], sep='\t')
print(df_test.shape)
df_test.head()

(1040428, 3)

   CustomerID  MovieID  Rating
0           0     9529     5.0
1           0     3363     4.0
2           0     5837     4.0
3           0     6017     4.0
4           0    10476     4.0

In [8]:
customer_map = df_train.CustomerID.unique()
customer_map.sort()
customer_map = customer_map[0:17550]
#user_map
num_users = len(customer_map)
customer_map[-1]

22203

In [9]:
movie_map = df_train.MovieID.unique()
movie_map.sort()
movie_map = movie_map[0:1000]
#movie_map
num_movies = len(movie_map)
movie_map[-1]

1000

In [10]:
# file = open('matrix_train.csv','w')

# def temp(i):
#     return np.where(movie_map == i)[0][0]


# for id_user in customer_map:
#     id_movie = df_train.iloc[:,1][(df_train.iloc[:,0]==id_user) & (df_train.iloc[:,1]<=1000)]
#     id_movie = id_movie.apply(temp)
#     id_rating=df_train.iloc[:,2][(df_train.iloc[:,0]==id_user) & (df_train.iloc[:,1]<=1000)]
#     ratings=np.zeros(num_movies, dtype=np.uint32)
#     ratings[id_movie-1]=id_rating
#     if sum(ratings)==0:
#         continue
#     ratings=pd.DataFrame(ratings.reshape(-1, len(ratings)))
#     file.write(ratings.to_csv(index=False, header=False))
#     del id_movie
#     del id_rating
#     del ratings


# file.close()

In [11]:
X = pd.read_csv('matrix_train.csv', header=None)
print(X.shape)
X.head()

(13118, 1000)

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
X.shape

(13118, 1000)

In [13]:
customer_map = df_valid.CustomerID.unique()
customer_map.sort()
customer_map = customer_map[:7020]
num_users = len(customer_map)
customer_map[-1]

14710

In [14]:
movie_map = df_valid.MovieID.unique()
movie_map.sort()
movie_map = movie_map[:895]
#movie_map
num_movies = len(movie_map)
movie_map[-1]

1000

In [15]:
# file = open('matrix_valid.csv','w')

# def temp(i):
#     return np.where(movie_map == i)[0][0]


# for id_user in customer_map:
#     id_movie = df_valid.iloc[:,1][(df_valid.iloc[:,0]==id_user) & (df_valid.iloc[:,1]<=1000)]
#     id_movie = id_movie.apply(temp)
#     id_rating=df_valid.iloc[:,2][(df_valid.iloc[:,0]==id_user) & (df_valid.iloc[:,1]<=1000)]
#     ratings=np.zeros(1000, dtype=np.uint32)
#     ratings[id_movie-1]=id_rating
#     if sum(ratings)==0:
#         continue
#     ratings=pd.DataFrame(ratings.reshape(-1, len(ratings)))
#     file.write(ratings.to_csv(index=False, header=False))
#     del id_movie
#     del id_rating
#     del ratings


# file.close()

In [16]:
X_valid = pd.read_csv('matrix_valid.csv', header=None)
print(X_valid.shape)
X_valid.head()

(2255, 1000)

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,5,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
X_valid.shape[0]

2255

In [18]:
customer_map = df_test.CustomerID.unique()
customer_map.sort()
customer_map = customer_map[:7020]
num_users = len(customer_map)
customer_map[-1]

14678

In [19]:
movie_map = df_test.MovieID.unique()
movie_map.sort()
movie_map = movie_map[:901]
#movie_map
num_movies = len(movie_map)
movie_map[-1]

1000

In [20]:
# file = open('matrix_test.csv','w')

# def temp(i):
#     return np.where(movie_map == i)[0][0]


# for id_user in customer_map:
#     id_movie = df_test.iloc[:,1][(df_test.iloc[:,0]==id_user) & (df_test.iloc[:,1]<=1000)]
#     id_movie = id_movie.apply(temp)
#     id_rating=df_test.iloc[:,2][(df_test.iloc[:,0]==id_user) & (df_test.iloc[:,1]<=1000)]
#     ratings=np.zeros(1000, dtype=np.uint32)
#     ratings[id_movie-1]=id_rating
#     if sum(ratings)==0:
#         continue
#     ratings=pd.DataFrame(ratings.reshape(-1, len(ratings)))
#     file.write(ratings.to_csv(index=False, header=False))
#     del id_movie
#     del id_rating
#     del ratings


# file.close()

In [21]:
X_test = pd.read_csv('matrix_test.csv', header=None)
print(X_test.shape)
X_test.head()

(2286, 1000)

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
X_test.shape[0]

2286

In [23]:
import keras.backend as K

def rmse(y_true, y_pred):
    mask_true = K.cast(K.not_equal(y_true, 0), K.floatx())
    masked_squared_error = mask_true * K.square((y_true - y_pred))
    # in case mask_true is 0 everywhere, the error would be nan, therefore divide by at least 1
    # this doesn't change anything as where sum(mask_true)==0, sum(masked_squared_error)==0 as well
    masked_mse = K.sum(masked_squared_error, axis=-1) / K.sum(mask_true, axis=-1)
    return K.sqrt(masked_mse)

In [25]:
# Functional Model

encoder1 = Dense(28, activation='selu')
encoder2 = Dense(56, activation='selu')
code = Dense(56, activation='selu')
dropout = Dropout(0.65)
decoder1 = Dense(56, activation='selu')
decoder2 = Dense(28, activation='selu')
out = Dense(X.shape[1], activation='selu')


input = Input(shape=(1000,))

encoded1 = encoder1(input)
encoded2 = encoder2(encoded1)
coded = code(encoded2)
dropped = dropout(coded)
decoded1 = decoder1(dropped)
decoded2 = decoder2(decoded1)
temp_output = out(decoded2)

re_encoded1 = encoder1(temp_output)
re_encoded2 = encoder2(re_encoded1)
re_coded = code(re_encoded2)
re_dropped = dropout(re_coded)
re_decoded1 = decoder1(re_dropped)
re_decoded2 = decoder2(re_decoded1)
output = out(re_decoded2)

model = Model(inputs=input, outputs=output)
print(model.summary())
# plot_model(model, to_file='model.png')

__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_2 (InputLayer)            (None, 1000)         0
__________________________________________________________________________________________________
dense_7 (Dense)                 (None, 28)           28028       input_2[0][0]
                                                                 dense_12[0][0]
__________________________________________________________________________________________________
dense_8 (Dense)                 (None, 56)           1624        dense_7[0][0]
                                                                 dense_7[1][0]
__________________________________________________________________________________________________
dense_9 (Dense)                 (None, 56)           3192        dense_8[0][0]
                                                                 dense_8[1][0]
__________________________________________________________________________________________________
dropout_2 (Dropout)             (None, 56)           0           dense_9[0][0]
                                                                 dense_9[1][0]
__________________________________________________________________________________________________
dense_10 (Dense)                (None, 56)           3192        dropout_2[0][0]
                                                                 dropout_2[1][0]
__________________________________________________________________________________________________
dense_11 (Dense)                (None, 28)           1596        dense_10[0][0]
                                                                 dense_10[1][0]
__________________________________________________________________________________________________
dense_12 (Dense)                (None, 1000)         29000       dense_11[0][0]
                                                                 dense_11[1][0]
==================================================================================================
Total params: 66,632
Trainable params: 66,632
Non-trainable params: 0
__________________________________________________________________________________________________
None

In [26]:
model.compile(loss=rmse, optimizer='sgd')

model.fit(X, X, batch_size=128, epochs=100, validation_data=(X_valid, X_valid), callbacks=[tensorboard])

Train on 13118 samples, validate on 2255 samples
Epoch 1/100
13118/13118 [==============================] - 5s 365us/step - loss: 3.3600 - val_loss: 3.5192
Epoch 2/100
13118/13118 [==============================] - 3s 203us/step - loss: 2.6178 - val_loss: 3.2572
Epoch 3/100
13118/13118 [==============================] - 3s 224us/step - loss: 1.7977 - val_loss: 3.0035
Epoch 4/100
13118/13118 [==============================] - 3s 207us/step - loss: 1.4651 - val_loss: 2.8215
Epoch 5/100
13118/13118 [==============================] - 2s 176us/step - loss: 1.3311 - val_loss: 2.7026
Epoch 6/100
13118/13118 [==============================] - 2s 173us/step - loss: 1.2599 - val_loss: 2.5941
Epoch 7/100
13118/13118 [==============================] - 2s 168us/step - loss: 1.2152 - val_loss: 2.5170
Epoch 8/100
13118/13118 [==============================] - 2s 175us/step - loss: 1.1641 - val_loss: 2.4291
Epoch 9/100
13118/13118 [==============================] - 2s 171us/step - loss: 1.1407 - val_loss: 2.3661
Epoch 10/100
13118/13118 [==============================] - 3s 205us/step - loss: 1.1169 - val_loss: 2.3116
Epoch 11/100
13118/13118 [==============================] - 3s 200us/step - loss: 1.0899 - val_loss: 2.2718
Epoch 12/100
13118/13118 [==============================] - 2s 166us/step - loss: 1.0795 - val_loss: 2.2392
Epoch 13/100
13118/13118 [==============================] - 2s 181us/step - loss: 1.0748 - val_loss: 2.1904
Epoch 14/100
13118/13118 [==============================] - 3s 200us/step - loss: 1.0567 - val_loss: 2.1565
Epoch 15/100
13118/13118 [==============================] - 3s 197us/step - loss: 1.0473 - val_loss: 2.1330
Epoch 16/100
13118/13118 [==============================] - 3s 211us/step - loss: 1.0296 - val_loss: 2.1026
Epoch 17/100
13118/13118 [==============================] - 2s 171us/step - loss: 1.0241 - val_loss: 2.0852
Epoch 18/100
13118/13118 [==============================] - 3s 203us/step - loss: 1.0055 - val_loss: 2.0621
Epoch 19/100
13118/13118 [==============================] - 2s 185us/step - loss: 1.0068 - val_loss: 2.0378
Epoch 20/100
13118/13118 [==============================] - 3s 202us/step - loss: 0.9980 - val_loss: 2.0252
Epoch 21/100
13118/13118 [==============================] - 2s 175us/step - loss: 0.9906 - val_loss: 2.0067
Epoch 22/100
13118/13118 [==============================] - 3s 194us/step - loss: 0.9796 - val_loss: 1.9912
Epoch 23/100
13118/13118 [==============================] - 2s 152us/step - loss: 0.9696 - val_loss: 1.9762
Epoch 24/100
13118/13118 [==============================] - 3s 202us/step - loss: 0.9595 - val_loss: 1.9559
Epoch 25/100
13118/13118 [==============================] - 3s 203us/step - loss: 0.9579 - val_loss: 1.9441
Epoch 26/100
13118/13118 [==============================] - 3s 201us/step - loss: 0.9497 - val_loss: 1.9427
Epoch 27/100
13118/13118 [==============================] - 2s 185us/step - loss: 0.9457 - val_loss: 1.9250
Epoch 28/100
13118/13118 [==============================] - 3s 202us/step - loss: 0.9459 - val_loss: 1.9160
Epoch 29/100
13118/13118 [==============================] - ETA: 0s - loss: 0.945 - 2s 182us/step - loss: 0.9454 - val_loss: 1.9099
Epoch 30/100
13118/13118 [==============================] - 2s 184us/step - loss: 0.9368 - val_loss: 1.8994
Epoch 31/100
13118/13118 [==============================] - 2s 190us/step - loss: 0.9350 - val_loss: 1.8875
Epoch 32/100
13118/13118 [==============================] - 2s 189us/step - loss: 0.9308 - val_loss: 1.8785
Epoch 33/100
13118/13118 [==============================] - 2s 189us/step - loss: 0.9273 - val_loss: 1.8723
Epoch 34/100
13118/13118 [==============================] - 2s 189us/step - loss: 0.9226 - val_loss: 1.8625
Epoch 35/100
13118/13118 [==============================] - 2s 190us/step - loss: 0.9187 - val_loss: 1.8566
Epoch 36/100
13118/13118 [==============================] - 2s 186us/step - loss: 0.9171 - val_loss: 1.8450
Epoch 37/100
13118/13118 [==============================] - 2s 185us/step - loss: 0.9168 - val_loss: 1.8391
Epoch 38/100
13118/13118 [==============================] - 2s 189us/step - loss: 0.9114 - val_loss: 1.8264
Epoch 39/100
13118/13118 [==============================] - 2s 185us/step - loss: 0.9114 - val_loss: 1.8189
Epoch 40/100
13118/13118 [==============================] - 2s 185us/step - loss: 0.9095 - val_loss: 1.8147
Epoch 41/100
13118/13118 [==============================] - 2s 183us/step - loss: 0.9039 - val_loss: 1.8100
Epoch 42/100
13118/13118 [==============================] - 2s 183us/step - loss: 0.9005 - val_loss: 1.8024
Epoch 43/100
13118/13118 [==============================] - 2s 180us/step - loss: 0.9075 - val_loss: 1.8026
Epoch 44/100
13118/13118 [==============================] - 2s 178us/step - loss: 0.8979 - val_loss: 1.7942
Epoch 45/100
13118/13118 [==============================] - 2s 185us/step - loss: 0.8989 - val_loss: 1.7847
Epoch 46/100
13118/13118 [==============================] - 3s 196us/step - loss: 0.8966 - val_loss: 1.7863
Epoch 47/100
13118/13118 [==============================] - 3s 196us/step - loss: 0.8942 - val_loss: 1.7770
Epoch 48/100
13118/13118 [==============================] - 2s 190us/step - loss: 0.8959 - val_loss: 1.7718
Epoch 49/100
13118/13118 [==============================] - 3s 199us/step - loss: 0.8910 - val_loss: 1.7625
Epoch 50/100
13118/13118 [==============================] - 3s 200us/step - loss: 0.8907 - val_loss: 1.7591
Epoch 51/100
13118/13118 [==============================] - 3s 192us/step - loss: 0.8884 - val_loss: 1.7603
Epoch 52/100
13118/13118 [==============================] - 2s 189us/step - loss: 0.8888 - val_loss: 1.7592
Epoch 53/100
13118/13118 [==============================] - 2s 190us/step - loss: 0.8886 - val_loss: 1.7456
Epoch 54/100
13118/13118 [==============================] - 2s 189us/step - loss: 0.8854 - val_loss: 1.7465
Epoch 55/100
13118/13118 [==============================] - 3s 215us/step - loss: 0.8858 - val_loss: 1.7453
Epoch 56/100
13118/13118 [==============================] - 3s 224us/step - loss: 0.8823 - val_loss: 1.7367
Epoch 57/100
13118/13118 [==============================] - 2s 183us/step - loss: 0.8820 - val_loss: 1.7328
Epoch 58/100
13118/13118 [==============================] - 2s 187us/step - loss: 0.8800 - val_loss: 1.7269
Epoch 59/100
13118/13118 [==============================] - 3s 202us/step - loss: 0.8797 - val_loss: 1.7257
Epoch 60/100
13118/13118 [==============================] - 3s 219us/step - loss: 0.8819 - val_loss: 1.7299
Epoch 61/100
13118/13118 [==============================] - 3s 213us/step - loss: 0.8786 - val_loss: 1.7177
Epoch 62/100
13118/13118 [==============================] - 3s 201us/step - loss: 0.8772 - val_loss: 1.7163
Epoch 63/100
13118/13118 [==============================] - 2s 190us/step - loss: 0.8772 - val_loss: 1.7191
Epoch 64/100
13118/13118 [==============================] - 3s 221us/step - loss: 0.8776 - val_loss: 1.7066
Epoch 65/100
13118/13118 [==============================] - 3s 237us/step - loss: 0.8748 - val_loss: 1.7022
Epoch 66/100
13118/13118 [==============================] - 3s 258us/step - loss: 0.8730 - val_loss: 1.7119
Epoch 67/100
13118/13118 [==============================] - 3s 226us/step - loss: 0.8719 - val_loss: 1.7010
Epoch 68/100
13118/13118 [==============================] - 3s 203us/step - loss: 0.8721 - val_loss: 1.6960
Epoch 69/100
13118/13118 [==============================] - 3s 194us/step - loss: 0.8706 - val_loss: 1.6932
Epoch 70/100
13118/13118 [==============================] - 2s 181us/step - loss: 0.8718 - val_loss: 1.6932
Epoch 71/100
13118/13118 [==============================] - 2s 180us/step - loss: 0.8702 - val_loss: 1.6890
Epoch 72/100
13118/13118 [==============================] - 2s 182us/step - loss: 0.8715 - val_loss: 1.6844
Epoch 73/100
13118/13118 [==============================] - 2s 181us/step - loss: 0.8698 - val_loss: 1.6818
Epoch 74/100
13118/13118 [==============================] - 2s 185us/step - loss: 0.8699 - val_loss: 1.6830
Epoch 75/100
13118/13118 [==============================] - 2s 188us/step - loss: 0.8698 - val_loss: 1.6787
Epoch 76/100
13118/13118 [==============================] - 2s 181us/step - loss: 0.8661 - val_loss: 1.6767
Epoch 77/100
13118/13118 [==============================] - 2s 173us/step - loss: 0.8698 - val_loss: 1.6794
Epoch 78/100
13118/13118 [==============================] - 2s 166us/step - loss: 0.8667 - val_loss: 1.6739
Epoch 79/100
13118/13118 [==============================] - 2s 159us/step - loss: 0.8666 - val_loss: 1.6702
Epoch 80/100
13118/13118 [==============================] - 2s 175us/step - loss: 0.8664 - val_loss: 1.6695
Epoch 81/100
13118/13118 [==============================] - 2s 175us/step - loss: 0.8680 - val_loss: 1.6670
Epoch 82/100
13118/13118 [==============================] - 2s 184us/step - loss: 0.8643 - val_loss: 1.6623
Epoch 83/100
13118/13118 [==============================] - 2s 188us/step - loss: 0.8653 - val_loss: 1.6637
Epoch 84/100
13118/13118 [==============================] - 2s 186us/step - loss: 0.8651 - val_loss: 1.6668
Epoch 85/100
13118/13118 [==============================] - 2s 183us/step - loss: 0.8667 - val_loss: 1.6601
Epoch 86/100
13118/13118 [==============================] - 2s 184us/step - loss: 0.8651 - val_loss: 1.6598
Epoch 87/100
13118/13118 [==============================] - 2s 187us/step - loss: 0.8618 - val_loss: 1.6571
Epoch 88/100
13118/13118 [==============================] - 2s 180us/step - loss: 0.8640 - val_loss: 1.6514
Epoch 89/100
13118/13118 [==============================] - 2s 190us/step - loss: 0.8630 - val_loss: 1.6471
Epoch 90/100
13118/13118 [==============================] - 2s 183us/step - loss: 0.8609 - val_loss: 1.6446
Epoch 91/100
13118/13118 [==============================] - 2s 181us/step - loss: 0.8634 - val_loss: 1.6407
Epoch 92/100
13118/13118 [==============================] - 2s 180us/step - loss: 0.8632 - val_loss: 1.6453
Epoch 93/100
13118/13118 [==============================] - 2s 180us/step - loss: 0.8608 - val_loss: 1.6360
Epoch 94/100
13118/13118 [==============================] - 2s 181us/step - loss: 0.8589 - val_loss: 1.6406
Epoch 95/100
13118/13118 [==============================] - 2s 165us/step - loss: 0.8604 - val_loss: 1.6356
Epoch 96/100
13118/13118 [==============================] - 2s 148us/step - loss: 0.8577 - val_loss: 1.6335
Epoch 97/100
13118/13118 [==============================] - 2s 158us/step - loss: 0.8607 - val_loss: 1.6288
Epoch 98/100
13118/13118 [==============================] - 2s 160us/step - loss: 0.8606 - val_loss: 1.6332
Epoch 99/100
13118/13118 [==============================] - 2s 156us/step - loss: 0.8597 - val_loss: 1.6226
Epoch 100/100
13118/13118 [==============================] - 2s 154us/step - loss: 0.8580 - val_loss: 1.6281

In [28]:
test_loss = model.evaluate(X_test, X_test)
test_loss

2286/2286 [==============================] - 0s 132us/step

1.5679714843461312