In [1]:
import keras # imports keras and tensorflow as backend
import matplotlib.pyplot as plt # imports matplotlib
import numpy as np
import pandas as pd
%matplotlib inline
import os
os.environ["CUDA_DEVICE_ORDER"] = "PCI_BUS_ID"   # see issue #152
os.environ["CUDA_VISIBLE_DEVICES"] = ""
import time

from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation
from keras.callbacks import TensorBoard
import keras.backend as K
from keras import optimizers

Using TensorFlow backend.

In [2]:
NAME = "DeepRecommender-SingleLayer-LayerSize-28-{}".format(int(time.time()))

tensorboard = TensorBoard(log_dir='./logs/{}'.format(NAME))

In [3]:
# Data Paths
DATA_DIR = './nf_data'

nf_3m_train = os.path.join(DATA_DIR, 'N3M_TRAIN', 'n3m.train.txt')
nf_3m_valid = os.path.join(DATA_DIR, 'N3M_VALID', 'n3m.valid.txt')
nf_3m_test = os.path.join(DATA_DIR, 'N3M_TEST', 'n3m.test.txt')

In [4]:
df_train = pd.read_csv(nf_3m_train, names=['CustomerID','MovieID','Rating'], sep='\t')
print(df_train.shape)
df_train.head()

(13675402, 3)

   CustomerID  MovieID  Rating
0           0     4884     4.0
1           0     5332     4.0
2           0     5633     4.0
3           0     6642     4.0
4           0     6922     4.0

In [5]:
df_train.iloc[:,1][(df_train.iloc[:,0]==0) & (df_train.iloc[:,1]<=1000)]

30    829
42    159
43    904
60     30
61    679
72    859
Name: MovieID, dtype: int64

In [6]:
df_valid = pd.read_csv(nf_3m_valid, names=['CustomerID','MovieID','Rating'], sep='\t')
print(df_valid.shape)
df_valid.head()

(1042131, 3)

   CustomerID  MovieID  Rating
0           0     1012     4.0
1           0     2977     4.0
2           0     4101     4.0
3           0    15858     4.0
4           0    16629     4.0

In [7]:
df_test = pd.read_csv(nf_3m_test, names=['CustomerID','MovieID','Rating'], sep='\t')
print(df_test.shape)
df_test.head()

(1040428, 3)

   CustomerID  MovieID  Rating
0           0     9529     5.0
1           0     3363     4.0
2           0     5837     4.0
3           0     6017     4.0
4           0    10476     4.0

In [8]:
customer_map = df_train.CustomerID.unique()
customer_map.sort()
customer_map = customer_map[0:17550]
#user_map
num_users = len(customer_map)
customer_map[-1]

22203

In [9]:
movie_map = df_train.MovieID.unique()
movie_map.sort()
movie_map = movie_map[0:1000]
#movie_map
num_movies = len(movie_map)
movie_map[-1]

1000

In [10]:
# file = open('matrix_train.csv','w')

# def temp(i):
#     return np.where(movie_map == i)[0][0]


# for id_user in customer_map:
#     id_movie = df_train.iloc[:,1][(df_train.iloc[:,0]==id_user) & (df_train.iloc[:,1]<=1000)]
#     id_movie = id_movie.apply(temp)
#     id_rating=df_train.iloc[:,2][(df_train.iloc[:,0]==id_user) & (df_train.iloc[:,1]<=1000)]
#     ratings=np.zeros(num_movies, dtype=np.uint32)
#     ratings[id_movie-1]=id_rating
#     if sum(ratings)==0:
#         continue
#     ratings=pd.DataFrame(ratings.reshape(-1, len(ratings)))
#     file.write(ratings.to_csv(index=False, header=False))
#     del id_movie
#     del id_rating
#     del ratings


# file.close()

In [11]:
X = pd.read_csv('matrix_train.csv', header=None)
print(X.shape)
X.head()

(13118, 1000)

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
X.shape[0]

13118

In [13]:
customer_map = df_valid.CustomerID.unique()
customer_map.sort()
customer_map = customer_map[:7020]
num_users = len(customer_map)
customer_map[-1]

14710

In [14]:
movie_map = df_valid.MovieID.unique()
movie_map.sort()
movie_map = movie_map[:895]
#movie_map
num_movies = len(movie_map)
movie_map[-1]

1000

In [15]:
# file = open('matrix_valid.csv','w')

# def temp(i):
#     return np.where(movie_map == i)[0][0]


# for id_user in customer_map:
#     id_movie = df_valid.iloc[:,1][(df_valid.iloc[:,0]==id_user) & (df_valid.iloc[:,1]<=1000)]
#     id_movie = id_movie.apply(temp)
#     id_rating=df_valid.iloc[:,2][(df_valid.iloc[:,0]==id_user) & (df_valid.iloc[:,1]<=1000)]
#     ratings=np.zeros(1000, dtype=np.uint32)
#     ratings[id_movie-1]=id_rating
#     if sum(ratings)==0:
#         continue
#     ratings=pd.DataFrame(ratings.reshape(-1, len(ratings)))
#     file.write(ratings.to_csv(index=False, header=False))
#     del id_movie
#     del id_rating
#     del ratings


# file.close()

In [16]:
X_valid = pd.read_csv('matrix_valid.csv', header=None)
print(X_valid.shape)
X_valid.head()

(2255, 1000)

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,5,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
X_valid.shape[0]

2255

In [18]:
customer_map = df_test.CustomerID.unique()
customer_map.sort()
customer_map = customer_map[:7020]
num_users = len(customer_map)
customer_map[-1]

14678

In [19]:
movie_map = df_test.MovieID.unique()
movie_map.sort()
movie_map = movie_map[:901]
#movie_map
num_movies = len(movie_map)
movie_map[-1]

1000

In [20]:
# file = open('matrix_test.csv','w')

# def temp(i):
#     return np.where(movie_map == i)[0][0]


# for id_user in customer_map:
#     id_movie = df_test.iloc[:,1][(df_test.iloc[:,0]==id_user) & (df_test.iloc[:,1]<=1000)]
#     id_movie = id_movie.apply(temp)
#     id_rating=df_test.iloc[:,2][(df_test.iloc[:,0]==id_user) & (df_test.iloc[:,1]<=1000)]
#     ratings=np.zeros(1000, dtype=np.uint32)
#     ratings[id_movie-1]=id_rating
#     if sum(ratings)==0:
#         continue
#     ratings=pd.DataFrame(ratings.reshape(-1, len(ratings)))
#     file.write(ratings.to_csv(index=False, header=False))
#     del id_movie
#     del id_rating
#     del ratings


# file.close()

In [21]:
X_test = pd.read_csv('matrix_test.csv', header=None)
print(X_test.shape)
X_test.head()

(2286, 1000)

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
X_test.shape[0]

2286

In [23]:
def rmse(y_true, y_pred):
    mask_true = K.cast(K.not_equal(y_true, 0), K.floatx())
    masked_squared_error = mask_true * K.square((y_true - y_pred))
    # in case mask_true is 0 everywhere, the error would be nan, therefore divide by at least 1
    # this doesn't change anything as where sum(mask_true)==0, sum(masked_squared_error)==0 as well
    masked_mse = K.sum(masked_squared_error, axis=-1) / K.sum(mask_true, axis=-1)
    return K.sqrt(masked_mse)

In [24]:
# Sequential Model

model = Sequential()

model.add(Dense(28, input_dim = X.shape[1], activation='selu', kernel_initializer='glorot_uniform'))
model.add(Dense(X.shape[1], activation='selu'))

In [25]:
sgd = optimizers.SGD(lr=0.001, momentum=0.9)
model.compile(loss=rmse, optimizer=sgd)

model.fit(X, X, batch_size=128, epochs=100, validation_data=(X_valid, X_valid), callbacks=[tensorboard])

Train on 13118 samples, validate on 2255 samples
Epoch 1/100
13118/13118 [==============================] - 2s 187us/step - loss: 3.6045 - val_loss: 3.5648
Epoch 2/100
13118/13118 [==============================] - 1s 112us/step - loss: 3.4244 - val_loss: 3.5571
Epoch 3/100
13118/13118 [==============================] - 1s 108us/step - loss: 3.1901 - val_loss: 3.5496
Epoch 4/100
13118/13118 [==============================] - 2s 121us/step - loss: 3.0736 - val_loss: 3.5425
Epoch 5/100
13118/13118 [==============================] - 2s 117us/step - loss: 2.9909 - val_loss: 3.5347
Epoch 6/100
13118/13118 [==============================] - 1s 98us/step - loss: 2.8990 - val_loss: 3.5259
Epoch 7/100
13118/13118 [==============================] - 1s 85us/step - loss: 2.8094 - val_loss: 3.5160
Epoch 8/100
13118/13118 [==============================] - 1s 108us/step - loss: 2.7384 - val_loss: 3.5051
Epoch 9/100
13118/13118 [==============================] - 1s 99us/step - loss: 2.6773 - val_loss: 3.4930
Epoch 10/100
13118/13118 [==============================] - 1s 83us/step - loss: 2.6121 - val_loss: 3.4802
Epoch 11/100
13118/13118 [==============================] - 1s 98us/step - loss: 2.5423 - val_loss: 3.4665
Epoch 12/100
13118/13118 [==============================] - 1s 94us/step - loss: 2.4684 - val_loss: 3.4528
Epoch 13/100
13118/13118 [==============================] - 1s 81us/step - loss: 2.3932 - val_loss: 3.4395
Epoch 14/100
13118/13118 [==============================] - 1s 98us/step - loss: 2.3197 - val_loss: 3.4272
Epoch 15/100
13118/13118 [==============================] - 1s 108us/step - loss: 2.2502 - val_loss: 3.4157
Epoch 16/100
13118/13118 [==============================] - 1s 105us/step - loss: 2.1853 - val_loss: 3.4046
Epoch 17/100
13118/13118 [==============================] - 1s 100us/step - loss: 2.1254 - val_loss: 3.3936
Epoch 18/100
13118/13118 [==============================] - 1s 98us/step - loss: 2.0693 - val_loss: 3.3821
Epoch 19/100
13118/13118 [==============================] - 1s 113us/step - loss: 2.0171 - val_loss: 3.3703
Epoch 20/100
13118/13118 [==============================] - 1s 107us/step - loss: 1.9685 - val_loss: 3.3579
Epoch 21/100
13118/13118 [==============================] - 1s 95us/step - loss: 1.9225 - val_loss: 3.3457
Epoch 22/100
13118/13118 [==============================] - 1s 89us/step - loss: 1.8789 - val_loss: 3.3329
Epoch 23/100
13118/13118 [==============================] - 1s 83us/step - loss: 1.8375 - val_loss: 3.3200
Epoch 24/100
13118/13118 [==============================] - 1s 84us/step - loss: 1.7978 - val_loss: 3.3071
Epoch 25/100
13118/13118 [==============================] - 1s 84us/step - loss: 1.7595 - val_loss: 3.2935
Epoch 26/100
13118/13118 [==============================] - 1s 83us/step - loss: 1.7227 - val_loss: 3.2797
Epoch 27/100
13118/13118 [==============================] - 1s 112us/step - loss: 1.6877 - val_loss: 3.2661
Epoch 28/100
13118/13118 [==============================] - 1s 107us/step - loss: 1.6537 - val_loss: 3.2523
Epoch 29/100
13118/13118 [==============================] - 1s 99us/step - loss: 1.6210 - val_loss: 3.2394
Epoch 30/100
13118/13118 [==============================] - 1s 98us/step - loss: 1.5894 - val_loss: 3.2260
Epoch 31/100
13118/13118 [==============================] - 1s 97us/step - loss: 1.5595 - val_loss: 3.2130
Epoch 32/100
13118/13118 [==============================] - 1s 99us/step - loss: 1.5312 - val_loss: 3.1996
Epoch 33/100
13118/13118 [==============================] - 1s 99us/step - loss: 1.5038 - val_loss: 3.1858
Epoch 34/100
13118/13118 [==============================] - 1s 105us/step - loss: 1.4777 - val_loss: 3.1722
Epoch 35/100
13118/13118 [==============================] - 1s 99us/step - loss: 1.4517 - val_loss: 3.1587
Epoch 36/100
13118/13118 [==============================] - 1s 97us/step - loss: 1.4275 - val_loss: 3.1452
Epoch 37/100
13118/13118 [==============================] - 1s 98us/step - loss: 1.4034 - val_loss: 3.1317
Epoch 38/100
13118/13118 [==============================] - 1s 98us/step - loss: 1.3805 - val_loss: 3.1182
Epoch 39/100
13118/13118 [==============================] - 2s 128us/step - loss: 1.3577 - val_loss: 3.1046
Epoch 40/100
13118/13118 [==============================] - 2s 127us/step - loss: 1.3364 - val_loss: 3.0910
Epoch 41/100
13118/13118 [==============================] - 1s 98us/step - loss: 1.3152 - val_loss: 3.0782
Epoch 42/100
13118/13118 [==============================] - 1s 105us/step - loss: 1.2952 - val_loss: 3.0642
Epoch 43/100
13118/13118 [==============================] - 1s 97us/step - loss: 1.2756 - val_loss: 3.0509
Epoch 44/100
13118/13118 [==============================] - 1s 92us/step - loss: 1.2564 - val_loss: 3.0379
Epoch 45/100
13118/13118 [==============================] - 1s 97us/step - loss: 1.2385 - val_loss: 3.0251
Epoch 46/100
13118/13118 [==============================] - 1s 100us/step - loss: 1.2204 - val_loss: 3.0126
Epoch 47/100
13118/13118 [==============================] - 1s 96us/step - loss: 1.2029 - val_loss: 2.9999
Epoch 48/100
13118/13118 [==============================] - 1s 100us/step - loss: 1.1857 - val_loss: 2.9872
Epoch 49/100
13118/13118 [==============================] - 1s 100us/step - loss: 1.1694 - val_loss: 2.9747
Epoch 50/100
13118/13118 [==============================] - 1s 97us/step - loss: 1.1538 - val_loss: 2.9623
Epoch 51/100
13118/13118 [==============================] - 1s 101us/step - loss: 1.1379 - val_loss: 2.9495
Epoch 52/100
13118/13118 [==============================] - 1s 103us/step - loss: 1.1230 - val_loss: 2.9371
Epoch 53/100
13118/13118 [==============================] - 1s 102us/step - loss: nan - val_loss: nan
Epoch 54/100
13118/13118 [==============================] - 1s 95us/step - loss: nan - val_loss: nan
Epoch 55/100
13118/13118 [==============================] - 1s 97us/step - loss: nan - val_loss: nan
Epoch 56/100
13118/13118 [==============================] - 1s 96us/step - loss: nan - val_loss: nan
Epoch 57/100
13118/13118 [==============================] - 2s 118us/step - loss: nan - val_loss: nan
Epoch 58/100
13118/13118 [==============================] - 1s 110us/step - loss: nan - val_loss: nan
Epoch 59/100
13118/13118 [==============================] - 1s 103us/step - loss: nan - val_loss: nan
Epoch 60/100
13118/13118 [==============================] - 1s 95us/step - loss: nan - val_loss: nan
Epoch 61/100
13118/13118 [==============================] - 1s 105us/step - loss: nan - val_loss: nan
Epoch 62/100
13118/13118 [==============================] - 1s 99us/step - loss: nan - val_loss: nan
Epoch 63/100
13118/13118 [==============================] - 1s 104us/step - loss: nan - val_loss: nan
Epoch 64/100
13118/13118 [==============================] - 1s 103us/step - loss: nan - val_loss: nan
Epoch 65/100
13118/13118 [==============================] - 1s 101us/step - loss: nan - val_loss: nan
Epoch 66/100
13118/13118 [==============================] - 1s 104us/step - loss: nan - val_loss: nan
Epoch 67/100
13118/13118 [==============================] - 1s 103us/step - loss: nan - val_loss: nan
Epoch 68/100
13118/13118 [==============================] - 1s 80us/step - loss: nan - val_loss: nan
Epoch 69/100
13118/13118 [==============================] - 1s 80us/step - loss: nan - val_loss: nan
Epoch 70/100
13118/13118 [==============================] - 1s 78us/step - loss: nan - val_loss: nan
Epoch 71/100
13118/13118 [==============================] - 1s 84us/step - loss: nan - val_loss: nan
Epoch 72/100
13118/13118 [==============================] - 2s 116us/step - loss: nan - val_loss: nan
Epoch 73/100
13118/13118 [==============================] - 2s 127us/step - loss: nan - val_loss: nan
Epoch 74/100
13118/13118 [==============================] - 1s 92us/step - loss: nan - val_loss: nan
Epoch 75/100
13118/13118 [==============================] - 1s 88us/step - loss: nan - val_loss: nan
Epoch 76/100
13118/13118 [==============================] - 1s 83us/step - loss: nan - val_loss: nan
Epoch 77/100
13118/13118 [==============================] - 1s 87us/step - loss: nan - val_loss: nan
Epoch 78/100

13118/13118 [==============================] - 1s 95us/step - loss: nan - val_loss: nan
Epoch 79/100
13118/13118 [==============================] - 2s 116us/step - loss: nan - val_loss: nan
Epoch 80/100
13118/13118 [==============================] - 2s 122us/step - loss: nan - val_loss: nan
Epoch 81/100
13118/13118 [==============================] - 2s 119us/step - loss: nan - val_loss: nan
Epoch 82/100
13118/13118 [==============================] - 1s 91us/step - loss: nan - val_loss: nan
Epoch 83/100
13118/13118 [==============================] - 1s 95us/step - loss: nan - val_loss: nan
Epoch 84/100
13118/13118 [==============================] - 1s 94us/step - loss: nan - val_loss: nan
Epoch 85/100
13118/13118 [==============================] - 1s 100us/step - loss: nan - val_loss: nan
Epoch 86/100
13118/13118 [==============================] - 2s 116us/step - loss: nan - val_loss: nan
Epoch 87/100
13118/13118 [==============================] - 1s 109us/step - loss: nan - val_loss: nan
Epoch 88/100
13118/13118 [==============================] - 1s 98us/step - loss: nan - val_loss: nan
Epoch 89/100
13118/13118 [==============================] - 2s 116us/step - loss: nan - val_loss: nan
Epoch 90/100
13118/13118 [==============================] - 1s 97us/step - loss: nan - val_loss: nan
Epoch 91/100
13118/13118 [==============================] - 1s 99us/step - loss: nan - val_loss: nan
Epoch 92/100
13118/13118 [==============================] - 2s 136us/step - loss: nan - val_loss: nan
Epoch 93/100
13118/13118 [==============================] - 1s 97us/step - loss: nan - val_loss: nan
Epoch 94/100
13118/13118 [==============================] - 1s 89us/step - loss: nan - val_loss: nan
Epoch 95/100
13118/13118 [==============================] - 1s 92us/step - loss: nan - val_loss: nan
Epoch 96/100
13118/13118 [==============================] - 1s 83us/step - loss: nan - val_loss: nan
Epoch 97/100
13118/13118 [==============================] - 1s 82us/step - loss: nan - val_loss: nan
Epoch 98/100
13118/13118 [==============================] - 1s 84us/step - loss: nan - val_loss: nan
Epoch 99/100
13118/13118 [==============================] - 1s 84us/step - loss: nan - val_loss: nan
Epoch 100/100
13118/13118 [==============================] - 1s 101us/step - loss: nan - val_loss: nan

In [26]:
test_loss = model.evaluate(X_test, X_test)
test_loss

2286/2286 [==============================] - 0s 60us/step

nan