In [2]:
import keras # imports keras and tensorflow as backend
import matplotlib.pyplot as plt # imports matplotlib
import numpy as np
import pandas as pd
%matplotlib inline
import os

from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation

Using TensorFlow backend.

In [3]:
# Data Paths
DATA_DIR = './NF_DATA'

nf_3m_train = os.path.join(DATA_DIR, 'N3M_TRAIN', 'n3m.train.txt')
nf_3m_valid = os.path.join(DATA_DIR, 'N3M_VALID', 'n3m.valid.txt')
nf_3m_test = os.path.join(DATA_DIR, 'N3M_TEST', 'n3m.test.txt')

In [4]:
df_train = pd.read_csv(nf_3m_train, names=['CustomerID','MovieID','Rating'], sep='\t')
print(df_train.shape)
df_train.head()

(13675402, 3)

   CustomerID  MovieID  Rating
0           0     4884     4.0
1           0     5332     4.0
2           0     5633     4.0
3           0     6642     4.0
4           0     6922     4.0

In [24]:
df_train.iloc[:,1][df_train.iloc[:,0]==0]

0       4884
1       5332
2       5633
3       6642
4       6922
5      16123
6       1568
7       2072
8       3831
9       4416
10      4606
11      4849
12      4852
13      5341
14      5504
15      6313
16      7708
17      7768
18      8365
19      9152
20      9849
21     11241
22     11299
23     16087
24      2393
25      7496
26     11286
27     11714
28     12310
29     17511
       ...
105    17766
106     1612
107     5708
108     5828
109     6028
110     6426
111     6431
112     9712
113    11275
114    11506
115    11730
116    11991
117    14978
118    13236
119    13953
120    14410
121    16612
122     1958
123     8681
124    10547
125    16792
126     3210
127     4630
128     4648
129    10956
130    11406
131    12099
132    13417
133    14276
134    16385
Name: MovieID, Length: 135, dtype: int64

In [5]:
df_valid = pd.read_csv(nf_3m_valid, names=['CustomerID','MovieID','Rating'], sep='\t')
print(df_valid.shape)
df_valid.head()

(1042131, 3)

   CustomerID  MovieID  Rating
0           0     1012     4.0
1           0     2977     4.0
2           0     4101     4.0
3           0    15858     4.0
4           0    16629     4.0

In [6]:
df_test = pd.read_csv(nf_3m_test, names=['CustomerID','MovieID','Rating'], sep='\t')
print(df_test.shape)
df_test.head()

(1040428, 3)

   CustomerID  MovieID  Rating
0           0     9529     5.0
1           0     3363     4.0
2           0     5837     4.0
3           0     6017     4.0
4           0    10476     4.0

In [7]:
customer_map = df_train.CustomerID.unique()
customer_map.sort()
#user_map
num_users = len(customer_map)

In [53]:
movie_map = df_train.MovieID.unique()
movie_map.sort()
#movie_map
num_movies = len(movie_map)

In [10]:
# X = []
# for customer_id in customer_map:
#     select = df_train[(df_train['CustomerID'] == customer_id)][['MovieID', 'Rating']]
#     #print(select.shape)
#     #print(select.head())
#     input_data = []
#     for movie_id in movie_map:
#         if (select['MovieID'] == movie_id).any():
#             input_data.append(select[(select['MovieID'] == movie_id)].iloc[0]['Rating'])
#         else:
#             input_data.append(0.0)
#     #print(input_data)
#     X.append(input_data)
        
# len(X)

In [115]:
import pickle

pickle_out = open('movie_map.pickle','wb')
pickle.dump(movie_map, pickle_out)
pickle_out.close()

pickle_out = open('customer_map.pickle','wb')
pickle.dump(customer_map, pickle_out)
pickle_out.close()

In [118]:
%%timeit
# new_data = []

def temp(i):
    return np.where(movie_map == i)[0][0]
i = 0

for id_user in customer_map:
    file = open('testfile.txt','a')
    id_movie = df_train.iloc[:,1][df_train.iloc[:,0]==id_user]
    id_movie = id_movie.apply(temp)
    id_rating=df_train.iloc[:,2][df_train.iloc[:,0]==id_user]
    ratings=np.zeros(num_movies, dtype=np.uint32)
    ratings[id_movie-1]=id_rating
    if sum(ratings)==0:
        continue
    ratings=pd.DataFrame(ratings.reshape(-1, len(ratings)))
    file.write(ratings.to_csv(index=False, header=False))
    del id_movie
    del id_rating
    del ratings
    i+=1
    file.close()
    if i>10:
        break
# new_data = pd.DataFrame(new_data)
# new_data.head()

1.13 s ± 10.3 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [116]:
pd.Series(movie_map).to_csv('movie_map.csv')
pd.Series(customer_map).to_csv('customer_map.csv')

In [117]:
select[(select['MovieID'] == 6642)].iloc[0]['Rating']

NameError: name 'select' is not defined

In [ ]:
input_data = []
for movie_id in movie_map:
    if (select['MovieID'] == movie_id).any():
        input_data.append(select[(select['MovieID'] == movie_id)].iloc[0]['Rating'])
    else:
        input_data.append(0.0)

X = np.array(input_data)
X

In [ ]:
X.shape[0]

In [ ]:
#Model

model = Sequential()

model.add(Dense(128, input_dim = X.shape[0], activation='selu'))

model.add(Dense(256, activation='selu'))

model.add(Dropout(0.65))

model.add(Dense(256, activation='selu'))

model.add(Dense(128, activation='selu'))

model.add(Dense(X.shape[0], activation='selu'))

model.compile(loss='mean_squared_error', optimizer='sgd', metrics=['accuracy'])

model.fit(X, X, batch_size=1)