In [1]:
import keras # imports keras and tensorflow as backend
import matplotlib.pyplot as plt # imports matplotlib
import numpy as np
import pandas as pd
%matplotlib inline
import os

from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation

Using TensorFlow backend.

In [2]:
# Data Paths
DATA_DIR = './NF_DATA'

nf_3m_train = os.path.join(DATA_DIR, 'N3M_TRAIN', 'n3m.train.txt')
nf_3m_valid = os.path.join(DATA_DIR, 'N3M_VALID', 'n3m.valid.txt')
nf_3m_test = os.path.join(DATA_DIR, 'N3M_TEST', 'n3m.test.txt')

In [3]:
df_train = pd.read_csv(nf_3m_train, names=['CustomerID','MovieID','Rating'], sep='\t')
print(df_train.shape)
df_train.head()

(13675402, 3)

   CustomerID  MovieID  Rating
0           0     4884     4.0
1           0     5332     4.0
2           0     5633     4.0
3           0     6642     4.0
4           0     6922     4.0

In [4]:
df_valid = pd.read_csv(nf_3m_valid, names=['CustomerID','MovieID','Rating'], sep='\t')
print(df_valid.shape)
df_valid.head()

(1042131, 3)

   CustomerID  MovieID  Rating
0           0     1012     4.0
1           0     2977     4.0
2           0     4101     4.0
3           0    15858     4.0
4           0    16629     4.0

In [5]:
df_test = pd.read_csv(nf_3m_test, names=['CustomerID','MovieID','Rating'], sep='\t')
print(df_test.shape)
df_test.head()

(1040428, 3)

   CustomerID  MovieID  Rating
0           0     9529     5.0
1           0     3363     4.0
2           0     5837     4.0
3           0     6017     4.0
4           0    10476     4.0

In [6]:
customer_map = df_train.CustomerID.unique()
customer_map.sort()
#user_map
len(customer_map)

311315

In [8]:
movie_map = df_train.MovieID.unique()
movie_map.sort()
#movie_map
len(movie_map)

17736

In [ ]:
X = []
for customer_id in customer_map:
    select = df_train[(df_train['CustomerID'] == customer_id)][['MovieID', 'Rating']]
    #print(select.shape)
    #print(select.head())
    input_data = []
    for movie_id in movie_map:
        if (select['MovieID'] == movie_id).any():
            input_data.append(select[(select['MovieID'] == movie_id)].iloc[0]['Rating'])
        else:
            input_data.append(0.0)
    #print(input_data)
    X.append(input_data)
        
len(X)

In [ ]:
import pickle

pickle_out = open('X_non_np.pickle','wb')
pickle.dump(X, pickle_out)
pickle_out.close()

In [ ]:
select[(select['MovieID'] == 6642)].iloc[0]['Rating']

In [ ]:
input_data = []
for movie_id in movie_map:
    if (select['MovieID'] == movie_id).any():
        input_data.append(select[(select['MovieID'] == movie_id)].iloc[0]['Rating'])
    else:
        input_data.append(0.0)

X = np.array(input_data)
X

In [ ]:
X.shape[0]

In [ ]:
#Model

model = Sequential()

model.add(Dense(128, input_dim = X.shape[0], activation='selu'))

model.add(Dense(256, activation='selu'))

model.add(Dropout(0.65))

model.add(Dense(256, activation='selu'))

model.add(Dense(128, activation='selu'))

model.add(Dense(X.shape[0], activation='selu'))

model.compile(loss='mean_squared_error', optimizer='sgd', metrics=['accuracy'])

model.fit(X, X, batch_size=1)