In [1]:
import keras # imports keras and tensorflow as backend
import matplotlib.pyplot as plt # imports matplotlib
import numpy as np
import pandas as pd
%matplotlib inline
import os
import time

from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation
from keras.callbacks import TensorBoard

Using TensorFlow backend.

In [2]:
NAME = "DeepRecommender-{}".format(int(time.time()))

tensorboard = TensorBoard(log_dir='./logs/{}'.format(NAME))

In [3]:
# Data Paths
DATA_DIR = './nf_data'

nf_3m_train = os.path.join(DATA_DIR, 'N3M_TRAIN', 'n3m.train.txt')
nf_3m_valid = os.path.join(DATA_DIR, 'N3M_VALID', 'n3m.valid.txt')
nf_3m_test = os.path.join(DATA_DIR, 'N3M_TEST', 'n3m.test.txt')

In [4]:
df_train = pd.read_csv(nf_3m_train, names=['CustomerID','MovieID','Rating'], sep='\t')
print(df_train.shape)
df_train.head()

(13675402, 3)

   CustomerID  MovieID  Rating
0           0     4884     4.0
1           0     5332     4.0
2           0     5633     4.0
3           0     6642     4.0
4           0     6922     4.0

In [5]:
df_train.iloc[:,1][(df_train.iloc[:,0]==0) & (df_train.iloc[:,1]<=1000)]

30    829
42    159
43    904
60     30
61    679
72    859
Name: MovieID, dtype: int64

In [6]:
df_valid = pd.read_csv(nf_3m_valid, names=['CustomerID','MovieID','Rating'], sep='\t')
print(df_valid.shape)
df_valid.head()

(1042131, 3)

   CustomerID  MovieID  Rating
0           0     1012     4.0
1           0     2977     4.0
2           0     4101     4.0
3           0    15858     4.0
4           0    16629     4.0

In [7]:
df_test = pd.read_csv(nf_3m_test, names=['CustomerID','MovieID','Rating'], sep='\t')
print(df_test.shape)
df_test.head()

(1040428, 3)

   CustomerID  MovieID  Rating
0           0     9529     5.0
1           0     3363     4.0
2           0     5837     4.0
3           0     6017     4.0
4           0    10476     4.0

In [8]:
customer_map = df_train.CustomerID.unique()
customer_map.sort()
customer_map = customer_map[0:17550]
#user_map
num_users = len(customer_map)
customer_map[-1]

22203

In [9]:
movie_map = df_train.MovieID.unique()
movie_map.sort()
movie_map = movie_map[0:1000]
#movie_map
num_movies = len(movie_map)
movie_map[-1]

1000

In [10]:
# file = open('matrix_train.csv','w')

# def temp(i):
#     return np.where(movie_map == i)[0][0]


# for id_user in customer_map:
#     id_movie = df_train.iloc[:,1][(df_train.iloc[:,0]==id_user) & (df_train.iloc[:,1]<=1000)]
#     id_movie = id_movie.apply(temp)
#     id_rating=df_train.iloc[:,2][(df_train.iloc[:,0]==id_user) & (df_train.iloc[:,1]<=1000)]
#     ratings=np.zeros(num_movies, dtype=np.uint32)
#     ratings[id_movie-1]=id_rating
#     if sum(ratings)==0:
#         continue
#     ratings=pd.DataFrame(ratings.reshape(-1, len(ratings)))
#     file.write(ratings.to_csv(index=False, header=False))
#     del id_movie
#     del id_rating
#     del ratings


# file.close()

In [11]:
X = pd.read_csv('matrix_train.csv', header=None)
print(X.shape)
X.head()

(13118, 1000)

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
X.shape[0]

13118

In [13]:
customer_map = df_valid.CustomerID.unique()
customer_map.sort()
customer_map = customer_map[:7020]
num_users = len(customer_map)
customer_map[-1]

14710

In [14]:
movie_map = df_valid.MovieID.unique()
movie_map.sort()
movie_map = movie_map[:895]
#movie_map
num_movies = len(movie_map)
movie_map[-1]

1000

In [15]:
# file = open('matrix_valid.csv','w')

# def temp(i):
#     return np.where(movie_map == i)[0][0]


# for id_user in customer_map:
#     id_movie = df_valid.iloc[:,1][(df_valid.iloc[:,0]==id_user) & (df_valid.iloc[:,1]<=1000)]
#     id_movie = id_movie.apply(temp)
#     id_rating=df_valid.iloc[:,2][(df_valid.iloc[:,0]==id_user) & (df_valid.iloc[:,1]<=1000)]
#     ratings=np.zeros(1000, dtype=np.uint32)
#     ratings[id_movie-1]=id_rating
#     if sum(ratings)==0:
#         continue
#     ratings=pd.DataFrame(ratings.reshape(-1, len(ratings)))
#     file.write(ratings.to_csv(index=False, header=False))
#     del id_movie
#     del id_rating
#     del ratings


# file.close()

In [16]:
X_valid = pd.read_csv('matrix_valid.csv', header=None)
print(X_valid.shape)
X_valid.head()

(2255, 1000)

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,5,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
X_valid.shape[0]

2255

In [18]:
customer_map = df_test.CustomerID.unique()
customer_map.sort()
customer_map = customer_map[:7020]
num_users = len(customer_map)
customer_map[-1]

14678

In [19]:
movie_map = df_test.MovieID.unique()
movie_map.sort()
movie_map = movie_map[:901]
#movie_map
num_movies = len(movie_map)
movie_map[-1]

1000

In [20]:
# file = open('matrix_test.csv','w')

# def temp(i):
#     return np.where(movie_map == i)[0][0]


# for id_user in customer_map:
#     id_movie = df_test.iloc[:,1][(df_test.iloc[:,0]==id_user) & (df_test.iloc[:,1]<=1000)]
#     id_movie = id_movie.apply(temp)
#     id_rating=df_test.iloc[:,2][(df_test.iloc[:,0]==id_user) & (df_test.iloc[:,1]<=1000)]
#     ratings=np.zeros(1000, dtype=np.uint32)
#     ratings[id_movie-1]=id_rating
#     if sum(ratings)==0:
#         continue
#     ratings=pd.DataFrame(ratings.reshape(-1, len(ratings)))
#     file.write(ratings.to_csv(index=False, header=False))
#     del id_movie
#     del id_rating
#     del ratings


# file.close()

In [21]:
X_test = pd.read_csv('matrix_test.csv', header=None)
print(X_test.shape)
X_test.head()

(2286, 1000)

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
X_test.shape[0]

2286

In [23]:
import keras.backend as K

def rmse(y_true, y_pred):
    mask_true = K.cast(K.not_equal(y_true, 0), K.floatx())
    masked_squared_error = mask_true * K.square((y_true - y_pred))
    # in case mask_true is 0 everywhere, the error would be nan, therefore divide by at least 1
    # this doesn't change anything as where sum(mask_true)==0, sum(masked_squared_error)==0 as well
    masked_mse = K.sum(masked_squared_error, axis=-1) / K.sum(mask_true, axis=-1)
    return K.sqrt(masked_mse)

In [24]:
#Model

model = Sequential()

model.add(Dense(28, input_dim = X.shape[1], activation='selu'))

model.add(Dense(56, activation='selu'))

model.add(Dense(56, activation='selu'))

model.add(Dropout(0.65))

model.add(Dense(56, activation='selu'))

model.add(Dense(28, activation='selu'))

model.add(Dense(X.shape[1], activation='selu'))

model.compile(loss=rmse, optimizer='sgd')

model.fit(X, X, batch_size=128, epochs=100, validation_data=(X_valid, X_valid), callbacks=[tensorboard])

Train on 13118 samples, validate on 2255 samples
Epoch 1/100
13118/13118 [==============================] - 1s 109us/step - loss: 3.5040 - val_loss: 3.5793
Epoch 2/100
13118/13118 [==============================] - 1s 77us/step - loss: 3.1588 - val_loss: 3.5410
Epoch 3/100
13118/13118 [==============================] - 1s 78us/step - loss: 2.9220 - val_loss: 3.4656
Epoch 4/100
13118/13118 [==============================] - 1s 80us/step - loss: 2.6101 - val_loss: 3.3315
Epoch 5/100
13118/13118 [==============================] - 1s 72us/step - loss: 2.1274 - val_loss: 3.1551
Epoch 6/100
13118/13118 [==============================] - 1s 81us/step - loss: 1.7257 - val_loss: 2.9616
Epoch 7/100
13118/13118 [==============================] - 1s 81us/step - loss: 1.4673 - val_loss: 2.8053
Epoch 8/100
13118/13118 [==============================] - 1s 80us/step - loss: 1.3249 - val_loss: 2.6766
Epoch 9/100
13118/13118 [==============================] - 1s 79us/step - loss: 1.2295 - val_loss: 2.5745
Epoch 10/100
13118/13118 [==============================] - 1s 73us/step - loss: 1.1684 - val_loss: 2.4838
Epoch 11/100
13118/13118 [==============================] - 1s 74us/step - loss: 1.1302 - val_loss: 2.4058
Epoch 12/100
13118/13118 [==============================] - 1s 74us/step - loss: 1.1023 - val_loss: 2.3350
Epoch 13/100
13118/13118 [==============================] - 1s 75us/step - loss: 1.0719 - val_loss: 2.2736
Epoch 14/100
13118/13118 [==============================] - 1s 80us/step - loss: 1.0476 - val_loss: 2.2223
Epoch 15/100
13118/13118 [==============================] - 1s 81us/step - loss: 1.0303 - val_loss: 2.1752
Epoch 16/100
13118/13118 [==============================] - 1s 82us/step - loss: 1.0185 - val_loss: 2.1339
Epoch 17/100
13118/13118 [==============================] - 1s 74us/step - loss: 1.0046 - val_loss: 2.1021
Epoch 18/100
13118/13118 [==============================] - 1s 76us/step - loss: 0.9961 - val_loss: 2.0701
Epoch 19/100
13118/13118 [==============================] - 1s 73us/step - loss: 0.9843 - val_loss: 2.0338
Epoch 20/100
13118/13118 [==============================] - 1s 84us/step - loss: 0.9816 - val_loss: 2.0124
Epoch 21/100
13118/13118 [==============================] - 1s 82us/step - loss: 0.9716 - val_loss: 1.9788
Epoch 22/100
13118/13118 [==============================] - 1s 75us/step - loss: 0.9655 - val_loss: 1.9572
Epoch 23/100
13118/13118 [==============================] - 1s 80us/step - loss: 0.9559 - val_loss: 1.9347
Epoch 24/100
13118/13118 [==============================] - 1s 85us/step - loss: 0.9528 - val_loss: 1.9163
Epoch 25/100
13118/13118 [==============================] - 1s 77us/step - loss: 0.9417 - val_loss: 1.8995
Epoch 26/100
13118/13118 [==============================] - 1s 82us/step - loss: 0.9280 - val_loss: 1.8776
Epoch 27/100
13118/13118 [==============================] - 1s 78us/step - loss: 0.9285 - val_loss: 1.8559
Epoch 28/100
13118/13118 [==============================] - 1s 80us/step - loss: 0.9232 - val_loss: 1.8444
Epoch 29/100
13118/13118 [==============================] - 1s 77us/step - loss: 0.9188 - val_loss: 1.8279
Epoch 30/100
13118/13118 [==============================] - 1s 77us/step - loss: 0.9124 - val_loss: 1.8156
Epoch 31/100
13118/13118 [==============================] - 1s 75us/step - loss: 0.9038 - val_loss: 1.8042
Epoch 32/100
13118/13118 [==============================] - 1s 78us/step - loss: 0.8960 - val_loss: 1.7917
Epoch 33/100
13118/13118 [==============================] - 1s 86us/step - loss: 0.8852 - val_loss: 1.7830
Epoch 34/100
13118/13118 [==============================] - 1s 76us/step - loss: 0.8831 - val_loss: 1.7750
Epoch 35/100
13118/13118 [==============================] - 1s 91us/step - loss: 0.8775 - val_loss: 1.7643
Epoch 36/100
13118/13118 [==============================] - 1s 81us/step - loss: 0.8701 - val_loss: 1.7540
Epoch 37/100
13118/13118 [==============================] - 1s 83us/step - loss: 0.8619 - val_loss: 1.7466
Epoch 38/100
13118/13118 [==============================] - 1s 74us/step - loss: 0.8623 - val_loss: 1.7384
Epoch 39/100
13118/13118 [==============================] - 1s 80us/step - loss: 0.8512 - val_loss: 1.7290
Epoch 40/100
13118/13118 [==============================] - 1s 84us/step - loss: 0.8510 - val_loss: 1.7218
Epoch 41/100
13118/13118 [==============================] - 1s 83us/step - loss: 0.8525 - val_loss: 1.7200
Epoch 42/100
13118/13118 [==============================] - 1s 77us/step - loss: 0.8481 - val_loss: 1.7151
Epoch 43/100
13118/13118 [==============================] - 1s 76us/step - loss: 0.8434 - val_loss: 1.7089
Epoch 44/100
13118/13118 [==============================] - 1s 76us/step - loss: 0.8387 - val_loss: 1.7037
Epoch 45/100
13118/13118 [==============================] - 1s 70us/step - loss: 0.8417 - val_loss: 1.7011
Epoch 46/100
13118/13118 [==============================] - 1s 73us/step - loss: 0.8326 - val_loss: 1.6951
Epoch 47/100
13118/13118 [==============================] - 1s 73us/step - loss: 0.8335 - val_loss: 1.6917
Epoch 48/100
13118/13118 [==============================] - 1s 68us/step - loss: 0.8249 - val_loss: 1.6878
Epoch 49/100
13118/13118 [==============================] - 1s 70us/step - loss: 0.8308 - val_loss: 1.6824
Epoch 50/100
13118/13118 [==============================] - 1s 73us/step - loss: 0.8221 - val_loss: 1.6828
Epoch 51/100
13118/13118 [==============================] - 1s 74us/step - loss: 0.8225 - val_loss: 1.6741
Epoch 52/100
13118/13118 [==============================] - 1s 75us/step - loss: 0.8149 - val_loss: 1.6731
Epoch 53/100
13118/13118 [==============================] - 1s 77us/step - loss: 0.8166 - val_loss: 1.6651
Epoch 54/100
13118/13118 [==============================] - 1s 71us/step - loss: 0.8118 - val_loss: 1.6657
Epoch 55/100
13118/13118 [==============================] - 1s 71us/step - loss: 0.8145 - val_loss: 1.6612
Epoch 56/100
13118/13118 [==============================] - 1s 70us/step - loss: 0.8065 - val_loss: 1.6592
Epoch 57/100
13118/13118 [==============================] - 1s 75us/step - loss: 0.8043 - val_loss: 1.6558
Epoch 58/100
13118/13118 [==============================] - 1s 76us/step - loss: 0.8057 - val_loss: 1.6510
Epoch 59/100
13118/13118 [==============================] - 1s 78us/step - loss: 0.7973 - val_loss: 1.6468
Epoch 60/100
13118/13118 [==============================] - 1s 76us/step - loss: 0.8010 - val_loss: 1.6412
Epoch 61/100
13118/13118 [==============================] - 1s 85us/step - loss: 0.7936 - val_loss: 1.6418
Epoch 62/100
13118/13118 [==============================] - 1s 84us/step - loss: 0.7976 - val_loss: 1.6368
Epoch 63/100
13118/13118 [==============================] - 1s 83us/step - loss: 0.7998 - val_loss: 1.6358
Epoch 64/100
13118/13118 [==============================] - 1s 81us/step - loss: 0.7943 - val_loss: 1.6331
Epoch 65/100
13118/13118 [==============================] - 1s 81us/step - loss: 0.7955 - val_loss: 1.6299
Epoch 66/100
13118/13118 [==============================] - 1s 82us/step - loss: 0.7930 - val_loss: 1.6265
Epoch 67/100
13118/13118 [==============================] - 1s 79us/step - loss: 0.7902 - val_loss: 1.6248
Epoch 68/100
13118/13118 [==============================] - 1s 82us/step - loss: 0.7869 - val_loss: 1.6217
Epoch 69/100
13118/13118 [==============================] - 1s 83us/step - loss: 0.7845 - val_loss: 1.6163
Epoch 70/100
13118/13118 [==============================] - 1s 88us/step - loss: 0.7904 - val_loss: 1.6127
Epoch 71/100
13118/13118 [==============================] - 1s 88us/step - loss: 0.7822 - val_loss: 1.6099
Epoch 72/100
13118/13118 [==============================] - 1s 87us/step - loss: 0.7825 - val_loss: 1.6099
Epoch 73/100
13118/13118 [==============================] - 1s 79us/step - loss: 0.7799 - val_loss: 1.6054
Epoch 74/100
13118/13118 [==============================] - 1s 84us/step - loss: 0.7811 - val_loss: 1.6037
Epoch 75/100
13118/13118 [==============================] - 1s 86us/step - loss: 0.7794 - val_loss: 1.6008
Epoch 76/100
13118/13118 [==============================] - 1s 88us/step - loss: 0.7770 - val_loss: 1.5961
Epoch 77/100

13118/13118 [==============================] - 1s 82us/step - loss: 0.7793 - val_loss: 1.5972
Epoch 78/100
13118/13118 [==============================] - 1s 84us/step - loss: 0.7773 - val_loss: 1.5942
Epoch 79/100
13118/13118 [==============================] - 1s 89us/step - loss: 0.7734 - val_loss: 1.5919
Epoch 80/100
13118/13118 [==============================] - 1s 84us/step - loss: 0.7774 - val_loss: 1.5895
Epoch 81/100
13118/13118 [==============================] - 1s 86us/step - loss: 0.7739 - val_loss: 1.5881
Epoch 82/100
13118/13118 [==============================] - 1s 76us/step - loss: 0.7734 - val_loss: 1.5841
Epoch 83/100
13118/13118 [==============================] - 1s 90us/step - loss: 0.7744 - val_loss: 1.5852
Epoch 84/100
13118/13118 [==============================] - 1s 88us/step - loss: 0.7728 - val_loss: 1.5788
Epoch 85/100
13118/13118 [==============================] - 1s 79us/step - loss: 0.7669 - val_loss: 1.5769
Epoch 86/100
13118/13118 [==============================] - 1s 86us/step - loss: 0.7692 - val_loss: 1.5760
Epoch 87/100
13118/13118 [==============================] - 1s 91us/step - loss: 0.7707 - val_loss: 1.5749
Epoch 88/100
13118/13118 [==============================] - 1s 78us/step - loss: 0.7679 - val_loss: 1.5733
Epoch 89/100
13118/13118 [==============================] - 1s 87us/step - loss: 0.7676 - val_loss: 1.5694
Epoch 90/100
13118/13118 [==============================] - 1s 84us/step - loss: 0.7688 - val_loss: 1.5698
Epoch 91/100
13118/13118 [==============================] - 1s 86us/step - loss: 0.7650 - val_loss: 1.5684
Epoch 92/100
13118/13118 [==============================] - 1s 94us/step - loss: 0.7646 - val_loss: 1.5660
Epoch 93/100
13118/13118 [==============================] - 1s 88us/step - loss: 0.7654 - val_loss: 1.5612
Epoch 94/100
13118/13118 [==============================] - 1s 85us/step - loss: 0.7593 - val_loss: 1.5597
Epoch 95/100
13118/13118 [==============================] - 1s 80us/step - loss: 0.7625 - val_loss: 1.5597
Epoch 96/100
13118/13118 [==============================] - 1s 89us/step - loss: 0.7618 - val_loss: 1.5562
Epoch 97/100
13118/13118 [==============================] - 1s 90us/step - loss: 0.7598 - val_loss: 1.5514
Epoch 98/100
13118/13118 [==============================] - 1s 88us/step - loss: 0.7624 - val_loss: 1.5516
Epoch 99/100
13118/13118 [==============================] - 1s 87us/step - loss: 0.7623 - val_loss: 1.5513
Epoch 100/100
13118/13118 [==============================] - 1s 88us/step - loss: 0.7607 - val_loss: 1.5499

In [25]:
test_loss = model.evaluate(X_test, X_test)
print(test_loss)

2286/2286 [==============================] - 0s 60us/step
1.6657211606375293